{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$top_category['wap_image_url']}" alt="{$top_category['name']}">
</div>
<!-- BANNER结束 -->

<!-- 面包屑导航开始 -->
<div class="crumbs_container">
	<div class="container_15">
		<a href="/" class="home_icon">首页</a><span>&gt;</span>{$breadcrumb}
	</div>
</div>

<div class="content_page">
	<div class="container_15">
		<div class="fill_20"></div>
		<h1>{$data['title']}</h1>
		<div class="date_hits"><span>作者：{$settings['site_name']}</span><span>时间：{$data['create_time']|format_datetime=1,'Y-m-d'}</span><span>浏览量：{$data['hits']}</span></div>
		<div class="content">{$data['content']}</div>
		<div class="prev_next">
			<div class="prev">上一篇：<a href="{$data['prev']['url']}">{$data['prev']['title']}</a></div>
			<div class="next">下一篇：<a href="{$data['next']['url']}">{$data['next']['title']}</a></div>
			<div class="clear"></div>
		</div>
	</div>
</div>


{include file="public/footer" /}