<!-- 底部 -->

<div class="footer">
	<div class="container_1200">


	</div>
	<div class="footer_line"></div>
	<div class="copy">{$settings['copy']} &nbsp;&nbsp;　ICP备案编号：<a target="_blank" rel="nofollow" href="http://www.beian.miit.gov.cn">{$settings['icp']}</a>　</div>
</div>
</body> 
</html>

<script type="text/javascript">
$('.fixed_bar .to_top').click(function(){
	$('body,html').animate({scrollTop:0},200);
});
</script>
<script type="text/javascript">
	/*$(window).scroll(function(e) {
	  	var top = $(document).scrollTop();
	  	if(top<300){
	  		$('.header').addClass('is_top');
	  		$('.fixed_bar .to_top').hide();
	  	}else{
	  		$('.header').removeClass('is_top');
	  		$('.fixed_bar .to_top').show();
	  	}
	});*/
</script>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 800
	});
</script>