{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner sign_banner" style="background-image:url({$top_category['image_url']})">
	<img src="{$top_category['image_url']}" alt="{$category['name']}">
	<a target="_blank" href="{$settings['company_kefu_btn']}" class="trans_0_2">我也要</a>
</div>
<!-- BANNER结束 --> 
<!-- 面包屑导航开始 -->
<div class="crumbs_container" id="crumbs">
	<div class="container_1200">
		<a href="/" class="home_icon"></a>{$breadcrumb}
	</div>
</div>
<!-- 面包屑导航结束 -->
<div class="page_block case_page">
	<div class="container_1200">
		<div class="second_nav">
			{volist name="$second_categorys" id="v"}
			{if condition="$categorys[$v['id']]['is_menu'] == 1"}
	      	<a class="<?php if($v['id']==$category['id']){ echo 'on';} ?>" href="{$v['url']}#crumbs">{$v['name']}</a>
	      	{/if}
	    	{/volist}
		</div>
		<div class="fill_50"></div>
		<?php $category_id =  input('param.category_id'); ?>
		{lz:examples category_id="$category_id" var_page="page" limit="8" order="create_time desc"}
		<ul class="ajax_lists_container case_weixin_container">
			{volist name="data" id="v" mod="2"}
			<li>
				<div class="content_container">
					<img class="case_img" src="{$v['index_image_url']|thumb=187,332,3}" alt="{$v['title']}">
					<a href="{$v['url']}" class="mask trans_0_3" target="_blank"> 
						<img class="qr_code" src="{$v['qrcode_url']|thumb=120,120,3}" alt="{$v['title']}">
						<p class="trans_0_1 title">{$v['title']}</p>
						<div class="icon trans_0_1"></div>
					</a>
				</div>
			</li>
			{/volist}
		</ul>
		<div class="fill_5"></div>
		<div class="pages_container">{$pages}</div>
		{/lz:examples}
		<div class="list_more"><span>加载更多</span></div>
	</div>
</div>

<script type="text/javascript">
var page = 1;
$('.list_more').click(function(){
	$(this).find('span').addClass('loading').text('加载中...');
	page ++;
	var param = {
		category_id : "{$category_id}",
		sort : "create_time",
		limit : 8,
		page : page,
		thumb_name : 'index_image_url',
		thumb: '187,332,3'
	};
	$.get('{:url("get_ajax_lists")}',param,function(ret){
		if(ret && ret.length > 0){
			var html = '';
			$.each(ret,function(i,item){
				var class_name = (i%2==1)?'right':'';
				html +=	'<li>'
					+		'<div class="content_container">'
					+			'<img class="case_img" src="'+ item.thumb +'" alt="'+ item.title +'">'
					+			'<a href="'+ item.url +'" class="mask trans_0_3"> '
					+				'<img class="qr_code" src="'+ item.qrcode_url +'" alt="'+ item.title +'">'
					+				'<p class="trans_0_1 title">'+ item.title +'</p>'
					+			'</a>'
					+		'</div>'
					+	'</li>'
			})
			$('.ajax_lists_container').append(html);
			$('.list_more').find('span').removeClass('loading').text('加载更多');
		}else{
			$('.list_more').find('span').removeClass('loading').text('没有更多了');
		}
	})
});

</script>
{include file="public/footer" /}
