{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->


<div class="about_desc_container container_15">
	<!-- 公司简介 -->
	<div class="fill_40"></div>
	<div class="about_title">
		<img src="__TEMPLATE__static/images/about_pic.jpg" alt="公司简介">
	</div>
	<div class="fill_20"></div><div class="fill_5"></div>
	<div class="title">千度科技 灵魂网站的创造者</div>
	<div class="fill_20"></div>
	<div class="line"></div>
	<div class="fill_10"></div><div class="fill_5"></div>
	<div class="desc">
		郑州千度信息技术有限公司成立于2013年，是一家具有策略思维及追求设计气质的互联网品牌设计公司，主要开展业务包含：网站平台定制开发、APP原生开发、软件定制开发、小程序、微信公众号定制开发、行业解决方案、GUI桌面程序开发、MT4整套搭建、MT5整套搭建、区块链技术虚拟盘、棋牌软件开发。
		<br><br>
		千度的作品现代简洁又不失丰富和韵味。团队追求理性科学的设计方法、讲究设计策略、善于解决问题，又注重塑造品牌气质。千度具有丰富的大型企业及海内外创新风投项目服务经验，为广大客户提供专业的网站平台定制设计以及技术开发、技术维护等服务，使我们的客户可以在快速发展的信息科技领域中获得更有效的竞争力。
	</div>
	

	<!-- 团队展示 -->
	<div class="fill_40"></div>
	<div class="about_title">
		<img src="__TEMPLATE__static/images/about_team.jpg" alt="团队展示">
	</div>

	<div class="fill_30"></div><div class="fill_5"></div>
	<div class="about_title">
		<img src="__TEMPLATE__static/images/about_team_pic1.jpg" alt="策划团队">
	</div>
	<div class="fill_20"></div><div class="fill_5"></div>
	<div class="title">策划团队</div>
	<div class="fill_20"></div>
	<div class="line"></div>
	<div class="fill_10"></div><div class="fill_5"></div>
	<div class="desc">
		千度设有专业的产品策划团队，通过PM（项目经理）理解客户的商业需求后，与网站策划人员共同策划方案，确保为客户提供最优秀、独特、充分且经济的网站建设方案。
	</div>
	
	<div class="fill_30"></div><div class="fill_5"></div>
	<div class="about_title">
		<img src="__TEMPLATE__static/images/about_team_pic2.jpg" alt="设计团队">
	</div>
	<div class="fill_20"></div><div class="fill_5"></div>
	<div class="title">设计团队</div>
	<div class="fill_20"></div>
	<div class="line"></div>
	<div class="fill_10"></div><div class="fill_5"></div>
	<div class="desc">
		千度拥有多名优秀的美工设计师，在视觉设计方面，我们也许是最肯下工夫的团队，在策划阶段，设计人员即参与规划，甄选国外优秀精品网站作为参考对象，设计阶段，亦能媲美并超越国外精品网站水平。        
	</div>
	
	<div class="fill_30"></div><div class="fill_5"></div>
	<div class="about_title">
		<img src="__TEMPLATE__static/images/about_team_pic3.jpg" alt="开发团队">
	</div>
	<div class="fill_20"></div><div class="fill_5"></div>
	<div class="title">开发团队</div>
	<div class="fill_20"></div>
	<div class="line"></div>
	<div class="fill_10"></div><div class="fill_5"></div>
	<div class="desc">
		千度相信，个性化、多样化的网站功能才是帮助客户实现商业目的的有力渠道，而千度具有丰富编程开发经验的开发人员，保障了您独特的业务需求均能满足。       
	</div>
	
	<div class="fill_30"></div><div class="fill_5"></div>
	<div class="about_title">
		<img src="__TEMPLATE__static/images/about_team_pic4.jpg" alt="业务团队">
	</div>
	<div class="fill_20"></div><div class="fill_5"></div>
	<div class="title">业务团队</div>
	<div class="fill_20"></div>
	<div class="line"></div>
	<div class="fill_10"></div><div class="fill_5"></div>
	<div class="desc">
		千度拥有卓越的业务团队，业务人员均出自知名企业。同时，商侣建立了完整的网站品质监控流程，在每一个细节上为客户保障优秀的网站品质。       
	</div>
	
	<!-- 荣誉资质 -->
	<!-- <div class="fill_40"></div>
	<div class="about_title">
		<img src="__TEMPLATE__static/images/about_rongyu.jpg" alt="荣誉资质">
	</div> -->
	
	<div class="fill_40"></div>
</div>

<div class="about_zhici_container container_padding_15">
	<div class="fill_40"></div>
	<img class="about_zhici_title" src="__TEMPLATE__static/images/about_zhici_title.png" alt="总经理致辞">
	<div class="fill_20"></div>
	<div class="line"></div>
	<div class="fill_10"></div><div class="fill_5"></div>
	<div class="desc">
		首先，真诚欢迎您访问千度科技网站，衷心感谢您对我公司的关注和支持！
		<br>
		千度科技自2013年成立 以来，秉承“以客为尊、品质为本、诚信服务、开拓创新”的经营理念，历经六载风雨春秋。六年的跨越发展，我们已为上千家企业提供了包括网站建设、微信公众号开发、小程序开发、APP定制开发等多种互联网服务。未来，我们还将再接再厉服务更多需要结合互联网发展的企业，竭力为各大企业在互联网领域的发展，贡献自己的力量、提供更优质的服务！最后，我谨代表千度科技全体员工祝各界朋友：宏图远大、事业成功！
	</div>
	<div class="sign"><img src="__TEMPLATE__static/images/about_zhici_sign.png" alt="肖庆方"></div>
	<div class="avatar">
		<img class="kuang" src="__TEMPLATE__static/images/about_zhici_kuang.png" alt="肖庆方">
		<img class="person" src="__TEMPLATE__static/images/about_zhici_person.jpg" alt="肖庆方">
	</div>
	<div class="fill_50"></div>
</div>

<!-- 联系方式 -->
<div class="about_contact_container">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">地理位置</div>
			<div class="desc">我们将以诚实守信的操守、共同发展的理念，长远的眼光建立公司的品牌</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<iframe class="map_iframe" src="<?php echo url('index/page/index',['category_id'=>24]) ?>"></iframe>
	<div class="fill_20"></div>
	<div class="about_contact_list_container">
		<ul>
			<li class="step1">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">联系电话</div>
				<div class="desc">{$settings['company_tel']}</div>
			</li>
			<li class="step2"><a target="_blank" href="{$settings['company_kefu_btn']}">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">QQ咨询</div>
				<div class="desc">{$settings['company_qq']}</div>
			</a></li>
			<li class="step3">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">公司地址</div>
				<div class="desc">{$settings['company_address']}</div>
			</li>
			<li class="step3">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">电子邮箱</div>
				<div class="desc">{$settings['company_email']}</div>
			</li>
			<div class="fill_30"></div>
		</ul>
	</div>
</div>

{include file="public/footer" /}