{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->


<!-- 产品类型 -->
<div class="app_type_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">我们能做的产品类型</div>
			<div class="desc">了解APP,精准判定适合您的APP</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="app_type_container">
		<ul>
			<li class="step1">
				<div class="icon"><span></span></div>
				<div class="title">新闻资讯app</div>
				<div class="desc">现在手机软件代替了书报不出门便知天下事，足不出户也可以知道重大事件的发生</div>
			</li>
			<li class="step2">
				<div class="icon"><span></span></div>
				<div class="title">教育培训app</div>
				<div class="desc">现代化的教育培训不应该局限于学校以及培训机构，而老师也不再是传统意义上的讲书先生。</div>
			</li>
			<li class="step3">
				<div class="icon"><span></span></div>
				<div class="title">社交类app</div>
				<div class="desc">现今的社会，人与人之间都有一层隔阂，交友工具的出现解决了现下人们的沟通问题，实现了朋友遍天下，距离不是问题</div>
			</li>
			<li class="step4">
				<div class="icon"><span></span></div>
				<div class="title">医疗健身app</div>
				<div class="desc">移动医疗被称为“王冠上的明珠”是卫生部的重点关注项目。在未来三五年，移动医疗应用建设将会不断加快</div>
			</li>
			<li class="step5">
				<div class="icon"><span></span></div>
				<div class="title">旅游类app</div>
				<div class="desc">随着交通和经济的飞速发展，越来越多的人选择在闲暇时间旅行，在线订酒店机票和路线，也渐渐成为人们出行的必需品</div>
			</li>
			<li class="step6"><a href="{$categorys[33]['url']}">
				<div class="icon"><span></span></div>
				<div class="title">棋牌类app</div>
				<div class="desc">当前的即时通讯APP层出不穷，都是顺应了现在的时代潮流，手机游戏成了人们生活中必须进行的乐趣，游戏app的出现解决人们无聊时间的烦恼</div>
			</a></li>
			<li class="step7">
				<div class="icon"><span></span></div>
				<div class="title">住宿餐饮app</div>
				<div class="desc">网络时代发展逐渐壮大，当代的年轻人群大都喜欢宅在家里，手机点餐、网上订酒店成了现在的青年们日常的重要项目</div>
			</li>
			<li class="step8">
				<div class="icon"><span></span></div>
				<div class="title">直播类app</div>
				<div class="desc">随着网络时代的兴起，直播渐渐的成为网络新星们的一大工具，人们在闲暇时间都喜欢开直播，跟广大网友分享生活</div>
			</li>
			<div class="fill_20"></div>
		</ul>
	</div>
</div>

<!-- app带来什么 -->
<div class="app_what_block">
	<div class="container_15">
		<div class="index_block_title index_block_title_white">
			<div class="fill_30"></div>
			<div class="title">企业APP能给您带来什么</div>
			<div class="desc">对企业来说,开发一款属于自己的APP已刻不容缓</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="app_what_container">
		<div class="app_what_icon_container">
			<div class="round1"><img src="__TEMPLATE__static/images/app_what_icon.png" alt="企业APP能给您带来什么"></div>
			<div class="round2"></div>
			<div class="round3"><span class="s1"></span><span class="s2"></span><span class="s3"></span><span class="s4"></span><span class="s5"></span></div>
			<div class="round4"></div>
		</div>
		<div class="left fl">
			<img class="pic1" src="__TEMPLATE__static/images/app_what_pic1.png" alt="企业APP能给您带来什么">
			<img class="pic2" src="__TEMPLATE__static/images/app_what_pic3.png" alt="企业APP能给您带来什么">
			<img class="pic3" src="__TEMPLATE__static/images/app_what_pic5.png" alt="企业APP能给您带来什么">
		</div>
		<div class="right fr">
			<img class="pic1" src="__TEMPLATE__static/images/app_what_pic2.png" alt="企业APP能给您带来什么">
			<img class="pic2" src="__TEMPLATE__static/images/app_what_pic4.png" alt="企业APP能给您带来什么">
			<img class="pic3" src="__TEMPLATE__static/images/app_what_pic6.png" alt="企业APP能给您带来什么">
		</div>
	</div>
</div>

<!-- 为什么做app -->
<div class="app_why_block">
	<div class="container_15">
		<div class="index_block_title index_block_title_white">
			<div class="fill_30"></div>
			<div class="title">企业为什么要建立自己的APP</div>
			<div class="desc">对企业来说,开发一款属于自己的APP已刻不容缓</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="fill_20"></div>
	<div class="app_why_container">
		<div class="left fl"><img src="__TEMPLATE__static/images/app_why_phone.png" alt="企业为什么要建立自己的APP"></div>
		<div class="right fr">
			<ul>
				<li class="step1" aos="fade-left">
					<div class="line"></div>
					<div class="icon"><span></span></div>
					<div class="text">重新编码开发<br>安全性高</div>
				</li>
				<li class="step2" aos="fade-left" aos-delay="50">
					<div class="line"></div>
					<div class="icon"><span></span></div>
					<div class="text">价虽高<br>质量全程保障</div>
				</li>
				<li class="step3" aos="fade-left" aos-delay="100">
					<div class="line"></div>
					<div class="icon"><span></span></div>
					<div class="text">版权源码<br>归您自己所有</div>
				</li>
				<li class="step4" aos="fade-left" aos-delay="150">
					<div class="line"></div>
					<div class="icon"><span></span></div>
					<div class="text">终身免维护<br>教您上传资料</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="fill_40"></div>
</div>

<!-- 优势 -->
<div class="app_youshi_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">我们产品的优势</div>
			<div class="desc">那么多APP开发公司，为何唯独我能脱颖而出</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="app_yoshi_container">
		<ul>
			<li class="step1">
				<div class="icon"><span></span></div>
				<div class="title">贴心服务理念</div>
				<div class="desc">一对一的跟单模式，从售前到售后阶段始终如一，及时充分了解客户需求，并具备专业的售前分析及成熟的技术支持。</div>
			</li>
			<li class="step2">
				<div class="icon"><span></span></div>
				<div class="title">严谨的项目开发流程</div>
				<div class="desc">严谨的项目管控流程、充分了解客户需求，深入考虑平台的延展性和包容性，多端专业的默契的开发能力，让平台更具有生命力。</div>
			</li>
			<li class="step3">
				<div class="icon"><span></span></div>
				<div class="title">专业的策划设计</div>
				<div class="desc">我们深入理解调研、通过精准定位、策略研究、角色分析、流程分析及功能定义等做好完善的策划工作，做好深度的视觉设计。</div>
			</li>
			<li class="step4">
				<div class="icon"><span></span></div>
				<div class="title">贴心的售后跟踪服务</div>
				<div class="desc">贴心的售后跟踪服务定期回访，了解跟进运营的情况，给出我们专业的分析意见，贴心、及时的售后服务，让您无后顾之忧。</div>
			</li>
			<li class="step5">
				<div class="icon"><span></span></div>
				<div class="title">高品质的质量控制</div>
				<div class="desc">独立的测试部门，通过多轮测试把关，体贴的上线服务，考虑到各种上线细节，维护跟进测试等服务，我们做的不仅仅是测试而是质量把控。</div>
			</li>
			<li class="step6">
				<div class="icon"><span></span></div>
				<div class="title">多年成功服务经验</div>
				<div class="desc">拥有丰富经验团队，高效流程、可持续拓展架构、持续跟踪挖掘服务，丰富的产品迭代升级，不断的自我突破，只为做更好的产品。</div>
			</li>
			<li class="step7">
				<div class="icon"><span></span></div>
				<div class="title">合理的收费标准</div>
				<div class="desc">APP定制软件根据企业实际情况，开发设计企业所需的功能模块，根据开发实施过程以及开发团队架构，进行人/天计费模式，计费透明。</div>
			</li>
			<li class="step8">
				<div class="icon"><span></span></div>
				<div class="title">较高的开发效率</div>
				<div class="desc">分工合理，项目计划时间安排明确，高效的保证项目的如期进行，并确保项目按时按质交付使用。</div>
			</li>
			<div class="fill_20"></div>
		</ul>
	</div>
</div>

<!-- 流程 -->
<div class="app_step_block">
	<div class="container_15">
		<div class="index_block_title index_block_title_white">
			<div class="fill_30"></div>
			<div class="title">合作流程</div>
			<div class="desc">8大环节,60多道节点,严控软件质量度,只为客户移动运营走好关键的第一步</div>
			<div class="fill_40"></div>
		</div>
	</div>
	<div class="app_step_container">
		<ul class="container_20">
			<li class="step1 fl" aos="fade-left">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">联系咨询</p>
			</li>
			<li class="fl" aos="fade-left" aos-delay="50">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step2 fl" aos="fade-left" aos-delay="100">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">项目启动</p>
			</li>
			<li class="fl" aos="fade-left" aos-delay="150">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step3 fl" aos="fade-left" aos-delay="200">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">产品原型</p>
			</li>
			<li class="fl" aos="fade-left" aos-delay="250">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step4 fl" aos="fade-left" aos-delay="300">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">视觉设计</p>
			</li>
			<div class="fill_30">
				<li class="fr center_point" aos="fade-down"  aos-delay="350">
					<div class="point_cont"><span></span><span></span><span></span></div>
				</li>
			</div>
			<li class="step5 fr" aos="fade-right" aos-delay="400">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">研发</p>
			</li>
			<li class="fr" aos="fade-right" aos-delay="450">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step6 fr" aos="fade-right" aos-delay="500">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">测试</p>
			</li>
			<li class="fr" aos="fade-right" aos-delay="550">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step7 fr" aos="fade-right" aos-delay="600">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">验收</p>
			</li>
			<li class="fr" aos="fade-right" aos-delay="650">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step8 fr" aos="fade-right" aos-delay="700">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">上线</p>
			</li>
			<div class="clear"></div>
			<div class="fill_40"></div>
		</ul>
	</div>
</div>

{include file="public/footer" /}