{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->


<!-- 主机 -->
<div class="domain_host_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">虚拟主机&VPS</div>
			<div class="desc">了解虚拟主机,精准判定适合您的虚拟主机</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="domain_host_container">
		<div class="host_nav_container container_10">
			<div class="host_nav on">国内虚拟主机</div>
			<div class="host_nav">国外虚拟主机</div>
			<div class="host_nav">快云VPS</div>
		</div>
		<div class="fill_20"></div>
		<div class="host_list_container container_15">
			<ul class="on">
				<li>
					<h4 class="title">基础型1GB <a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">1GB</p>
							<p class="desc">网页空间</p>
						</div>
						<div class="size_block">
							<p class="name">不限</p>
							<p class="desc">月流量</p>
						</div>
						<div class="size_block">
							<p class="name">100MB</p>
							<p class="desc">数据库空间</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">数据库：SQL Server、mysql</p>
					<p class="item">支持语言：ASP、PHP</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>300</span>元/年</p>
					<div class="fill_20"></div>
				</li>
				<li>
					<h4 class="title">经济型3GB<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">3GB</p>
							<p class="desc">网页空间</p>
						</div>
						<div class="size_block">
							<p class="name">不限</p>
							<p class="desc">月流量</p>
						</div>
						<div class="size_block">
							<p class="name">300MB</p>
							<p class="desc">数据库空间</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">数据库：SQL Server、mysql</p>
					<p class="item">支持语言：ASP、PHP</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>500</span>元/年</p>
					<div class="fill_20"></div>
				</li>
				<li>
					<h4 class="title">豪华型5GB<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">5GB</p>
							<p class="desc">网页空间</p>
						</div>
						<div class="size_block">
							<p class="name">不限</p>
							<p class="desc">月流量</p>
						</div>
						<div class="size_block">
							<p class="name">500MB</p>
							<p class="desc">数据库空间</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">数据库：SQL Server、mysql</p>
					<p class="item">支持语言：ASP、PHP</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>800</span>元/年</p>
					<div class="fill_20"></div>
				</li>
			</ul>
			<ul class="">
				<li>
					<h4 class="title">基础型1GB <a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">1GB</p>
							<p class="desc">网页空间</p>
						</div>
						<div class="size_block">
							<p class="name">不限</p>
							<p class="desc">月流量</p>
						</div>
						<div class="size_block">
							<p class="name">100MB</p>
							<p class="desc">数据库空间</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">数据库：SQL Server、mysql</p>
					<p class="item">支持语言：ASP、PHP</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>500</span>元/年</p>
					<div class="fill_20"></div>
				</li>
				<li>
					<h4 class="title">经济型3GB<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">3GB</p>
							<p class="desc">网页空间</p>
						</div>
						<div class="size_block">
							<p class="name">不限</p>
							<p class="desc">月流量</p>
						</div>
						<div class="size_block">
							<p class="name">300MB</p>
							<p class="desc">数据库空间</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">数据库：SQL Server、mysql</p>
					<p class="item">支持语言：ASP、PHP</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>800</span>元/年</p>
					<div class="fill_20"></div>
				</li>
				<li>
					<h4 class="title">豪华型5GB<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">5GB</p>
							<p class="desc">网页空间</p>
						</div>
						<div class="size_block">
							<p class="name">不限</p>
							<p class="desc">月流量</p>
						</div>
						<div class="size_block">
							<p class="name">500MB</p>
							<p class="desc">数据库空间</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">数据库：SQL Server、mysql</p>
					<p class="item">支持语言：ASP、PHP</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>1000</span>元/年</p>
					<div class="fill_20"></div>
				</li>
			</ul>
			<ul>
				<li>
					<h4 class="title">普及型<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">2核</p>
							<p class="desc">CPU</p>
						</div>
						<div class="size_block">
							<p class="name">2GB</p>
							<p class="desc">内存</p>
						</div>
						<div class="size_block">
							<p class="name">4Mbps</p>
							<p class="desc">带宽</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">硬盘：40G 系统盘 + 60G 数据盘</p>
					<p class="item">IP地址：1个独享IP</p>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>999</span>元/年</p>
					<div class="fill_20"></div>
				</li>
				<li>
					<h4 class="title">经济型<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">4核</p>
							<p class="desc">CPU</p>
						</div>
						<div class="size_block">
							<p class="name">3GB</p>
							<p class="desc">内存</p>
						</div>
						<div class="size_block">
							<p class="name">5Mbps</p>
							<p class="desc">带宽</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">硬盘：40G 系统盘 + 100G 数据盘</p>
					<p class="item">IP地址：1个独享IP</p>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>1999</span>元/年</p>
					<div class="fill_20"></div>
				</li>
				<li>
					<h4 class="title">豪华型<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a></h4>
					<div class="size_container">
						<div class="size_block">
							<p class="name">4核</p>
							<p class="desc">CPU</p>
						</div>
						<div class="size_block">
							<p class="name">4GB</p>
							<p class="desc">内存</p>
						</div>
						<div class="size_block">
							<p class="name">6Mbps</p>
							<p class="desc">带宽</p>
						</div>
						<div class="clear"></div>
					</div>
					<p class="item">硬盘：40G 系统盘 + 160G 数据盘</p>
					<p class="item">IP地址：1个独享IP</p>
					<p class="item">操作系统：Windows、linux</p>
					<p class="item">机房：BGP多线机房</p>
					<p class="item price_item">优惠价格：<span>2999</span>元/年</p>
					<div class="fill_20"></div>
				</li>
			</ul>
		</div>
		<script type="text/javascript">
		$('.host_nav_container .host_nav').click(function(){
			var	index = $('.host_nav_container .host_nav').index(this);
			$('.host_nav_container .host_nav').removeClass('on');
			$(this).addClass('on');
			$('.host_list_container ul').removeClass('on');
			$('.host_list_container ul:eq('+index+')').addClass('on');
		})
		</script>
		<div class="fill_30"></div>
	</div>
</div>

<!-- 主机 -->
<div class="domain_price_block">
	<div class="container_15">
		<div class="index_block_title index_block_title_white">
			<div class="fill_30"></div>
			<div class="title">域名价格总览</div>
			<div class="desc">建站从一个好的域名开始</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="domain_price_container container_15">
		<table class="price_table" border='0' cellpadding="0" cellspacing="0">
			<tr>
				<th>域名类型</th>
				<th>首年注册（元/年）</th>
				<th>续费（元/年）</th>
			</tr>
			<tr>
				<td><span>.com</span>域名注册首选！</td>
				<td>55.00</td>
				<td>69.00</td>
			</tr>
			<tr>
				<td><span>.cn</span>寓意中国！</td>
				<td>39.00</td>
				<td>50.00</td>
			</tr>
			<tr>
				<td><span>.net</span>互联网特色!</td>
				<td>65.00</td>
				<td>65.00</td>
			</tr>
			<tr>
				<td><span>.top</span>顶级、高端</td>
				<td>39.00</td>
				<td>50.00</td>
			</tr>
			<tr>
				<td><span>.com.cn</span>中国公司</td>
				<td>39.00</td>
				<td>50.00</td>
			</tr>
			<tr>
				<td><span>.net.cn</span>中国网络服</td>
				<td>39.00</td>
				<td>65.00</td>
			</tr>
			<tr>
				<td><span>.org.cn</span>中国非盈利组织</td>
				<td>39.00</td>
				<td>65.00</td>
			</tr>
			<tr>
				<td><span>.gov.cn</span>中国政府机构</td>
				<td>150.00</td>
				<td>150.00</td>
			</tr>
			<tr>
				<td><span>.biz</span>最具有商业特色！</td>
				<td>150.00</td>
				<td>150.00</td>
			</tr>
			<tr>
				<td><span>.info</span>信息服务</td>
				<td>200.00</td>
				<td>200.00</td>
			</tr>
			<tr>
				<td><span>.mobi</span>移动网站首选！</td>
				<td>120.00</td>
				<td>120.00</td>
			</tr>
			<tr>
				<td><span>.中国</span>中文顶级域名</td>
				<td>320.00</td>
				<td>320.00</td>
			</tr>
			<tr>
				<td><span>.公司</span>中文商业组织域名</td>
				<td>320.00</td>
				<td>320.00</td>
			</tr>
			<tr>
				<td><span>.网络</span>中文网络服务域名</td>
				<td>320.00</td>
				<td>320.00</td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>
		<div class="fill_40"></div>
	</div>
</div>		


{include file="public/footer" /}