{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->
<div class="page_block game_type_block">
	<div class="type_btn"><img src="__TEMPLATE__/static/images/game_app_btn.png" alt="app"></div>
	<div class="type_btn"><img src="__TEMPLATE__/static/images/game_h5_btn.png" alt="h5"></div>
	<div class="type_btn"><img src="__TEMPLATE__/static/images/game_u3d_btn.png" alt="u3d"></div>
	<div class="clear"></div>
</div>

<div class="page_block game_detail_block_container">
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">亲友团+比赛模式</p>
			<p class="title">旗舰平台深度挖掘市场热点</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="亲友团+比赛模式"></p>
			<p class="desc">精心打造贴近市场潮流的运营功能留存更多新老客户</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_app_pic1.jpg" alt="亲友团+比赛模式">
		</div>
	</div>
	<div class="game_detail_block game_detail_block1">
		<div class="title_block container_15">
			<p class="title">旗舰平台开放模式打破桎梏</p>
			<p class="title">全面升级</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_right_ling.png" alt="旗舰平台开放模式打破桎梏"></p>
			<p class="desc">支持金币开房，同时支持金币、积分战绩统计</p>
			<p class="desc">解决微信群封禁，第三方平台限制难题</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_app_pic2.jpg" alt="旗舰平台开放模式打破桎梏">
		</div>
	</div>
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">全新竞技模式</p>
			<p class="title">吸引更多重度棋牌玩家</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="全新竞技模式"></p>
			<p class="desc">自定义实物奖励配置，平台活跃显著升级</p>
			<p class="desc">金币、钻石赛制丰富，游戏对局紧张刺激</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_app_pic3.jpg" alt="全新竞技模式">
		</div>
	</div>
	<div class="game_detail_block game_detail_block1">
		<div class="title_block container_15">
			<p class="title">熟人棋牌全新功能</p>
			<p class="title">亲友团重磅来袭</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_right_ling.png" alt="熟人棋牌全新功能"></p>
			<p class="desc">主打亲友对局，更增游戏趣味性</p>
			<p class="desc">社交、竞技两不误</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_app_pic4.jpg" alt="熟人棋牌全新功能">
		</div>
	</div>
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">运营功能一应俱全</p>
			<p class="title">满足玩家多重需求</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="运营功能一应俱全"></p>
			<p class="desc">战绩榜、财富榜、消耗榜清晰直观</p>
			<p class="desc">玩家信息，一目了然</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_app_pic5.jpg" alt="运营功能一应俱全">
		</div>
	</div>
	<div class="game_detail_block game_detail_block1">
		<div class="title_block container_15">
			<p class="title">全新推广系统</p>
			<p class="title">多重返利机制助力运营</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_right_ling.png" alt="全新推广系统"></p>
			<p class="desc">专属分享模式，用户裂变提速</p>
			<p class="desc">消耗充值返利，助力推广运营</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_app_pic6.jpg" alt="全新推广系统">
		</div>
	</div>
	
</div>

<div class="page_block game_detail_block_container">
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">千度旗舰H5平台</p>
			<p class="title">无需下载客户端</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="千度旗舰H5平台"></p>
			<p class="desc">微信启动，点击即玩</p>
			<p class="desc">聚焦市场推广，棋牌拉新利器</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_h5_pic1.jpg" alt="千度旗舰H5平台">
		</div>
	</div>
	<div class="game_detail_block game_detail_block1">
		<div class="title_block container_15">
			<p class="title">切入微信生态系统</p>
			<p class="title">推广便捷高效</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_right_ling.png" alt="切入微信生态系统"></p>
			<p class="desc">不用离开微信即可直接进行游戏</p>
			<p class="desc">朋友圈、微信群分享点击即玩，裂变更多客户</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_h5_pic2.jpg" alt="切入微信生态系统">
		</div>
	</div>
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">功能全面的全新H5棋牌平台</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="功能全面的全新H5棋牌平台"></p>
			<p class="desc">旗舰APP版运营功能，H5版同样支持</p>
			<p class="desc">满足各种玩家不同游戏需求</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_h5_pic3.jpg" alt="功能全面的全新H5棋牌平台">
		</div>
	</div>
	<div class="game_detail_block game_detail_block1">
		<div class="title_block container_15">
			<p class="title">千度旗舰H5平台</p>
			<p class="title">全新风格</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_right_ling.png" alt="千度旗舰H5平台"></p>
			<p class="desc">UI交互、美术风格全新设计</p>
			<p class="desc">更符合玩家使用习惯，用户体验更佳</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_h5_pic4.jpg" alt="千度旗舰H5平台">
		</div>
	</div>

</div>

<div class="page_block game_detail_block_container">
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">完美支持Lua、H5、U3d数据互通</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="完美支持Lua、H5、U3d数据互通"></p>
			<p class="desc">随时随地让不同客户端玩家同台竞技</p>
			<p class="desc">满足不同终端玩家游戏需求</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_u3d_pic1.jpg" alt="完美支持Lua、H5、U3d数据互通">
		</div>
	</div>
	<div class="game_detail_block game_detail_block1">
		<div class="title_block container_15">
			<p class="title">千度旗舰U3D平台</p>
			<p class="title">颜值与实力并存</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_right_ling.png" alt="千度旗舰U3D平台"></p>
			<p class="desc">精致画面，特效酷炫升级</p>
			<p class="desc">全新Unity3D开发，引导棋牌开发技术潮流</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_u3d_pic2.jpg" alt="千度旗舰U3D平台">
		</div>
	</div>
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">平台动画特效适合多种游戏类型</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="平台动画特效适合多种游戏类型"></p>
			<p class="desc">街机游戏视觉效果更具冲击力</p>
			<p class="desc">休闲游戏3D效果仿佛身临其境</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_u3d_pic3.jpg" alt="平台动画特效适合多种游戏类型">
		</div>
	</div>
	<div class="game_detail_block game_detail_block1">
		<div class="title_block container_15">
			<p class="title">排行榜功能全新升级</p>
			<p class="title">玩家信息展示清晰</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_right_ling.png" alt="排行榜功能全新升级"></p>
			<p class="desc">财富排行、充值排行双榜单</p>
			<p class="desc">上榜更可获得自定义配置奖励</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_u3d_pic4.jpg" alt="排行榜功能全新升级">
		</div>
	</div>
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">消息推送针对性通知</p>
			<p class="title">唤醒更多沉默用户</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="消息推送针对性通知"></p>
			<p class="desc">不同类型玩家可推送不同内容通知</p>
			<p class="desc">定时定量，做精细化运营</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_u3d_pic5.jpg" alt="消息推送针对性通知">
		</div>
	</div>
	<div class="game_detail_block game_detail_block1">
		<div class="title_block container_15">
			<p class="title">全新后台管理</p>
			<p class="title">玩家信息展示清晰</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_right_ling.png" alt="全新后台管理"></p>
			<p class="desc">后台统计重新排版，查验玩家实时数据</p>
			<p class="desc">玩家充值、时长、输赢等记录尽在掌握</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_u3d_pic6.jpg" alt="全新后台管理">
		</div>
	</div>
	<div class="game_detail_block">
		<div class="title_block container_15">
			<p class="title">高效推广</p>
			<p class="title">全新设计推广后台</p>
			<p class="line"><img src="__TEMPLATE__/static/images/game_detail_left_ling.png" alt="高效推广"></p>
			<p class="desc">专属推广后台随时查看收益</p>
			<p class="desc">给予推广员对平台更多信心支持</p>
		</div>
		<div class="pic_block">
			<img src="__TEMPLATE__/static/images/game_u3d_pic7.jpg" alt="高效推广">
		</div>
	</div>

</div>

<script type="text/javascript">
$('.game_type_block .type_btn').click(function(){
	var index = $(this).index('.game_type_block .type_btn');
	$('.game_detail_block_container').hide();
	$('.game_detail_block_container:eq('+index+')').show();
})
$('.game_detail_block_container:eq(0)').show();
</script>

<div class="fill_50"></div>
{include file="public/footer" /}