{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->

<link type="text/css" rel="stylesheet" href="__TEMPLATE__/static/css/carousel.css">
<script type="text/javascript" src="__TEMPLATE__/static/js/carousel.js"></script>
<div class="page_mt4">
	
	<!-- 什么是MT4 -->
	<div class="mt4_what">
	    <div class="mt4_what_right">
	        <h1>什么是MT4？</h1>
	        <div class="mt4_what_left">
	            <img src="__TEMPLATE__/static/images/mt4_jieshao.png" alt="">
	        </div>
	        <p>MT4是一款国际通用的投资看盘交易平台，综合了行情图表、技术分析和交易操作三大功能于一身，可进行下单、平仓、限价单、止损、止赢、查看报表及分析数据等不同操作 ，功能俱全，方便盯盘，便于了解市场资金流向，是目前市场行情接收软件交易中运用广泛的软件之一。已有超过70%的经纪公司和来自全世界三十多个国家的银行选择MT4交易软件作为网络交易平台。</p>
	    </div>
	    <div class="clear"></div>
	</div>

	<!-- 我们能为您做什么 -->
	<div class="mt4_do">
	    <div class="container">
	        <div class="mt4_title">
	            <h1>我们能为您做什么？</h1>
	        </div>
	        <div class="pictureSlider poster-main mt4_do_main" data-setting='{"width":375,"height":200,"posterWidth":150,"posterHeight":70,"scale":0.8,"autoPlay":true,"delay":2000,"speed":500}'>
	            <div class="poster-btn poster-prev-btn"></div>
	            <ul class="poster-list">
	                <li class="poster-item mt4_li"><a href="#"><img src="__TEMPLATE__/static/images/mt4_fangan01.png" width="100%" height="100%"></a>
	                    <div class="text">
	                        <h1>方案对比</h1>
	                        <p>vrsmt4专注于MT4及衍生品的开发，随即推出多种解决方案，供各位客户及合作伙伴参考对比。</p>
	                    </div>
	                </li>
	                <li class="poster-item mt4_li"><a href="#"><img src="__TEMPLATE__/static/images/mt4_fangan02.png" width="100%" height="100%"></a>
	                    <div class="text">
	                        <h1>MT4白标方案</h1>
	                        <p>离岸公司注册、外汇牌照监管注册、MT4平台硬件管理、MT4平台搭建安装维护、金融网站建设及营销方案、风险管理、MT4后台开发、流动性提供、MT4组件开发等一整套MT4平台服务流程。</p>
	                    </div>
	                </li>
	                <li class="poster-item mt4_li"><a href="#"><img src="__TEMPLATE__/static/images/mt4_fangan03.png" width="100%" height="100%"></a>
	                    <div class="text">
	                        <h1>MT4清算桥</h1>
	                        <p>世界上首批MT4清算桥的重要核心功能,保持着和世界上其它MT4 Bridge开发团队以及技术公司的业务沟通</p>
	                    </div>
	                </li>
	                <li class="poster-item mt4_li"><a href="#"><img src="__TEMPLATE__/static/images/mt4_fangan04.png" width="100%" height="100%"></a>
	                    <div class="text">
	                        <h1>多账户交易管理</h1>
	                        <p>多账户交易管理系统指的是交易员可以直接通过设置，交易很多子账户，做到一次点击，所有子客户都在同一价位同一时间下单。</p>
	                    </div>
	                </li>
	            </ul>
	            <div class="poster-btn poster-next-btn"></div>
	        </div>
	    </div>
	</div>
	    <script>
	    $(function(){
	        Carousel.init($(".pictureSlider"));
	    });
	    
	    $('.poster-list li').find('.text').hide();
	    //$('.poster-list li:eq(0)').find('.text').show();
	    </script>

	<!-- 产品方案 -->

	<div class="mt4_product">
	    <div class="mt4_product01">
	        <div class="mt4_product01_img">
	            <img src="__TEMPLATE__/static/images/mt4_fangan01.jpg" alt="">
	        </div>
	        <!-- <div class="mt4_product01_bg">
	            <img src="__TEMPLATE__/static/images/mt4_fangan_bg.png" alt="">
	        </div> -->
	        <div class="mt4_product01_text">
	            <span>
	                <img src="__TEMPLATE__/static/images/mt4_fangan_icon01.png" alt="">
	            </span>
	            <h1>方案比较</h1>
	            <p>vrsmt4专注于MT4及衍生品的开发，随即推出以下四种解决方案，供各位客户及合作伙伴参考。</p>
	        </div>
	    </div>
	    <div class="mt4_product01">
	        <div class="mt4_product01_img">
	            <img src="__TEMPLATE__/static/images/mt4_fangan02.jpg" alt="">
	        </div>
	        <!-- <div class="mt4_product01_bg">
	            <img src="__TEMPLATE__/static/images/mt4_fangan_bg.png" alt="">
	        </div> -->
	        <div class="mt4_product01_text">
	            <span>
	                <img src="__TEMPLATE__/static/images/mt4_fangan_icon02.png" alt="">
	            </span>
	            <h1>MT4白标方案</h1>
	            <p>MT4系统服务商向客户的机构公司直接提供外汇、期货、贵金属交易平台等相关方案，使机构能够快速拥有自己的MT4交易平台和mt4产品，并且能够以机构自己的经纪公司品牌进行业务拓展</p>
	        </div>
	    </div>
	    <div class="mt4_product01">
	        <div class="mt4_product01_img">
	            <img src="__TEMPLATE__/static/images/mt4_fangan03.jpg" alt="">
	        </div>
	        <!-- <div class="mt4_product01_bg">
	            <img src="__TEMPLATE__/static/images/mt4_fangan_bg.png" alt="">
	        </div> -->
	        <div class="mt4_product01_text">
	            <span>
	                <img src="__TEMPLATE__/static/images/mt4_fangan_icon03.png" alt="">
	            </span>
	            <h1>MT4清算桥</h1>
	            <p>MT4清算桥（MT4 Bridge），用于将MT4的客户订单，直接传送到交易对手方。</p>
	        </div>
	    </div>
	    <div class="mt4_product01">
	        <div class="mt4_product01_img">
	            <img src="__TEMPLATE__/static/images/mt4_fangan04.jpg" alt="">
	        </div>
	        <!-- <div class="mt4_product01_bg">
	            <img src="__TEMPLATE__/static/images/mt4_fangan_bg.png" alt="">
	        </div> -->
	        <div class="mt4_product01_text">
	            <span>
	                <img src="__TEMPLATE__/static/images/mt4_fangan_icon04.png" alt="">
	            </span>
	            <h1>多账户交易管理</h1>
	            <p>多账户交易管理系统指的是交易员可以直接通过设置，交易很多子账户，做到一次点击，所有子客户都在同一价位同一时间下单</p>
	        </div>
	    </div>
	    <div class="mt4_product01">
	        <div class="mt4_product01_img">
	            <img src="__TEMPLATE__/static/images/mt4_fangan05.jpg" alt="">
	        </div>
	        <!-- <div class="mt4_product01_bg">
	            <img src="__TEMPLATE__/static/images/mt4_fangan_bg.png" alt="">
	        </div> -->
	        <div class="mt4_product01_text">
	            <span>
	                <img src="__TEMPLATE__/static/images/mt4_fangan_icon05.png" alt="">
	            </span>
	            <h1>风险管理</h1>
	            <p>通过自动预先设置的大规模数据分析引擎，风险管理器可以轻松发现危险交易行 为，可以发现危险客户动作，防范于蔚然</p>
	        </div>
	    </div>
	    <div class="mt4_product01">
	        <div class="mt4_product01_img">
	            <img src="__TEMPLATE__/static/images/mt4_fangan06.jpg" alt="">
	        </div>
	        <!-- <div class="mt4_product01_bg">
	            <img src="__TEMPLATE__/static/images/mt4_fangan_bg.png" alt="">
	        </div> -->
	        <div class="mt4_product01_text">
	            <span>
	                <img src="__TEMPLATE__/static/images/mt4_fangan_icon06.png" alt="">
	            </span>
	            <h1>MT4数据源</h1>
	            <p>千度科技提供的MT4数据源稳定、高速，显示品种以及其它机制可根据客户需求量身定制，包括主要的外汇产品、黄金、白银、石油、主要股票指数，并且能够自定义基于人民币的内盘金属报价</p>
	        </div>
	    </div>
	</div>

	<!-- 服务优势 -->

	<div class="mt4_youshi">
	    <div class="mt4_title mt4_youshi_title">
	        <h1>服务优势</h1>
	    </div>
	    <div class="slideTxtBox">
	            <div class="hd">
	                <ul>
	                    <li>
	                        <div class="youshi_img">
	                            <img src="__TEMPLATE__/static/images/mt4_youshi01.png" alt="">
	                        </div>
	                        <div class="youshi_li">
	                            <h1>具备完备的风险控制功能</h1>
	                            
	                        </div>
	                    </li>
	                    <li>
	                        <div class="youshi_img">
	                            <img src="__TEMPLATE__/static/images/mt4_youshi02.png" alt="">
	                        </div>
	                        <div class="youshi_li">
	                            <h1>拥有强大的图表绘制分析功能</h1>
	                           
	                        </div>
	                    </li>
	                    <li>
	                        <div class="youshi_img">
	                            <img src="__TEMPLATE__/static/images/mt4_youshi03.png" alt="">
	                        </div>
	                         <div class="youshi_li">
	                            <h1>执行力强大，迅捷高效</h1>
	                            
	                        </div>
	                    </li>
	                    <li>
	                        <div class="youshi_img">
	                            <img src="__TEMPLATE__/static/images/mt4_youshi04.png" alt="">
	                        </div>
	                        <div class="youshi_li">
	                            <h1>支持多种语言平台界面</h1>
	                            
	                        </div>
	                    </li>
	                    <li>
	                        <div class="youshi_img">
	                            <img src="__TEMPLATE__/static/images/mt4_youshi05.png" alt="">
	                        </div>
	                        <div class="youshi_li">
	                            <h1>保护交易数据安全</h1>
	                            
	                        </div>
	                    </li>
	                    <li>
	                        <div class="youshi_img">
	                            <img src="__TEMPLATE__/static/images/mt4_youshi06.png" alt="">
	                        </div>
	                        <div class="youshi_li">
	                            <h1>免费模拟交易</h1>
	                            
	                        </div>
	                    </li>
	                    <div class="clear"></div>
	                </ul>
	            </div>
	            
	        </div>
	</div>

	<!-- 平台搭建 -->
	<div class="mt4_dajian">
	    <div class="mt4_title">
	        <h1>平台搭建</h1>
	    </div>
	    <div class="container_1200">
	        <div class="mt4_dajian_right">
                <div class="mt4_dajian01">
                    <img src="__TEMPLATE__/static/images/mt4_dajian01.jpg" alt="外汇搭建">
                    <p>外汇搭建</p>
                </div>
                <div class="mt4_dajian01">
                    <img src="__TEMPLATE__/static/images/mt4_dajian02.jpg" alt="外汇蓝标搭建">
                    <p>外汇蓝标搭建</p>
                </div>
                <div class="mt4_dajian01">
                    <img src="__TEMPLATE__/static/images/mt4_dajian03.jpg" alt="外汇白标搭建">
                    <p>外汇白标搭建</p>
                </div>
                <div class="mt4_dajian01">
                    <img src="__TEMPLATE__/static/images/mt4_dajian04.jpg" alt="MT4平台搭建">
                    <p>MT4平台搭建</p>
                </div>
                <div class="mt4_dajian01">
                    <img src="__TEMPLATE__/static/images/mt4_dajian05.jpg" alt="MT4平台出租">
                    <p>MT4平台出租</p>
                </div>
                <div class="mt4_dajian01">
                    <img src="__TEMPLATE__/static/images/mt4_dajian06.jpg" alt="MT4出租">
                    <p>MT4出租</p>
                </div>
                <div class="clear"></div>
            </div>
	        <div class="clear"></div>
	    </div>
	</div>

</div>


{include file="public/footer" /}