{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->

<div class="optimize_type_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">当前网络推广的困惑?</div>
			<div class="desc">耗时5年研发，真正解决了客户最大的网络营销困惑</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="optimize_container">
		<ul>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled01.png">
				<p>竞价成本较高</p>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled02.png">
				<p>利润少竞争大</p>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled03.png">
				<p>搜索位置有限</p>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled04.png">
				<p>缺少传播渠道</p>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled05.png">
				<p>推广途径偏少</p>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled06.png">
				<p>推广多见效慢</p>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled07.png">
				<p>效果没有保证</p>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled08.png">
				<p>难覆盖搜索习惯</p>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/puzzled09.png">
				<p>推广转化率低</p>
			</li>
		</ul>
	</div>
</div>
<div class="marketing_page">
	<div class="container_15">
		<div class="index_block_title">
			<div class="title">全网智能SEO推广如何全网营销</div>
			<div class="desc">千度科技颠覆传统推广方式，是新一代 “简单” “智能” “精准” “高效” 全霸屏推广营销系统</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<ul class="marketing_all">
		<div class="marketing_list">
			<div class="marketing_box">
				<li>
					<div class="title">万词霸屏</div>
					<div class="desc">
						<p>通过该技术可以实现<span>3-7天</span></p>
						<p>在搜索结果首页达到<span>几千几万个</span>关键词排名</p>
					</div>
					<a href="" class="details">了解详情</a>
				</li>
			</div>
		</div>
		<div class="marketing_list">
			<div class="marketing_box">
				<li>
					<div class="title">精准人工优化</div>
					<div class="desc">
						<p>针对客户指定要优化的关键词</p>
						<p>用<span>白帽技术</span>做<span>整站优化</span>，<span>不首页</span>，<span>不收费</span></p>
					</div>
					<a href="" class="details">了解详情</a>
				</li>
			</div>
		</div>
		<div class="clear"></div>
	</ul>
</div>
<div class="advantage_page">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">万词霸屏系统核心优势</div>
			<div class="desc">3-7天保证2000-10000个关键词以上在搜索引擎首页排名，达到霸屏效果！</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="advantage_all">
		<ul>
			<li>
				<span><img src="__TEMPLATE__/static/images/advantage01.png"></span>
				<p class="title">不限制关键词、区域</p>
				<p class="desc">关键词数量多、匹配更多精准关键词全国各区域，全天24小时</p>
			</li>
			<li>
				<span><img src="__TEMPLATE__/static/images/advantage02.png"></span>
				<p class="title">排名速度快</p>
				<p class="desc">3-7天就可看到排名效果，上词最少2000个到百度首页</p>
			</li>
			<li>
				<span><img src="__TEMPLATE__/static/images/advantage03.png"></span>
				<p class="title">无需新建站</p>
				<p class="desc">展示形式是H5网站（可保护客户官网的安全）提高客户体验感以及提高转化率</p>
			</li>
			<li>
				<span><img src="__TEMPLATE__/static/images/advantage04.png"></span>
				<p class="title">超高转化率</p>
				<p class="desc">关键词排名打开以官网形式展现，提升用户的体验度</p>
			</li>
			<li>
				<span><img src="__TEMPLATE__/static/images/advantage05.png"></span>
				<p class="title">排名稳定、点击不扣费</p>
				<p class="desc">效果明显 费用可控</p>
			</li>
			<li>
				<span><img src="__TEMPLATE__/static/images/advantage06.png"></span>
				<p class="title">搜索引擎全覆盖</p>
				<p class="desc">百度PC&移动端、360搜索、搜狗等所有搜索引擎</p>
			</li>
			<li>
				<span><img src="__TEMPLATE__/static/images/advantage07.png"></span>
				<p class="title">一键查询排名</p>
				<p class="desc">排名报表链接一目了然，随时随地关注排名效果</p>
			</li>
			<li>
				<span><img src="__TEMPLATE__/static/images/advantage08.png"></span>
				<p class="title">流量统计系统</p>
				<p class="desc">客户效果监控与访问量一目了然</p>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
	<div class="fill_20"></div>
</div>
<div class="accurate_optimize">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">精准人工优化的核心优势</div>
			<div class="desc">客户指定关键词做优化，价格自动评估，达标按天计费模式，无首页不消费！</div>
			<div class="fill_20"></div>
		</div>
		<div class="accurate_all">
			<ul>
				<li class="step1">
					<span></span>
					<div class="title">
						<p>智能高效</p>
						<p>关键词自动评估</p>
					</div>
				</li>
				<li class="step2">
					<span></span>
					<div class="title">
						<p>全面支持</p>
						<p>主流搜索引擎</p>
					</div>
				</li>
				<li class="step3">
					<span></span>
					<div class="title">
						<p>业务灵活</p>
						<p>按需选择搜索引擎</p>
					</div>
				</li>
				<li class="step4">
					<span></span>
					<div class="title">
						<p>技术精湛</p>
						<p>最快3-20天上首页</p>
					</div>
				</li>
				<li class="step5">
					<span></span>
					<div class="title">
						<p>云端支持</p>
						<p>提升蜘蛛喜好</p>
					</div>
				</li>
				<li class="step6">
					<span></span>
					<div class="title">
						<p>三层管理</p>
						<p>金牌优化全程服务</p>
					</div>
				</li>
				<li class="step7">
					<span></span>
					<div class="title">
						<p>合理消费</p>
						<p>不达标不扣费</p>
					</div>
				</li>
				<li class="step8">
					<span></span>
					<div class="title">
						<p>一键提单</p>
						<p>助您营销腾飞</p>
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<div class="fill_30"></div>
</div>
<div class="case_optimize">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">案例展示</div>
			<div class="desc">用户的满意是我们的动力，我们一直努力为每一个客户提供全方位的优化服务，获得更多的客源！</div>
			<div class="fill_30"></div>
		</div>
		<div class="case_optimize_tab">
			<div class="case_block">
				<div class="case_optimize_list on">万词霸屏</div>
			</div>
			<div class="case_block">
				<div class="case_optimize_list">精准人工</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="case_all_tab active">
			<div class="case_all_block">
				<div class="swiper-container case_optimize_all">
				    <div class="swiper-wrapper">
				      	{lz:examples limit="8" category_id="32" order="is_recommend desc,create_time desc"}
						{volist name="data" id="vo"}
						<div class="swiper-slide"><a href="{$vo['url']}"><img src="{$vo['image_url']|thumb=570,412,3}" alt="{$vo['title']}"></a></div>
						{/volist}
						{/lz:examples}
				    </div>
				    <!-- Add Arrows -->
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
		<div class="case_all_tab">
			<div class="case_all_block">
				<div class="swiper-container case_optimize_all">
				    <div class="swiper-wrapper">
				      	{lz:examples limit="8" category_id="32" order="is_recommend desc,create_time desc"}
						{volist name="data" id="vo"}
						<div class="swiper-slide"><a href="{$vo['url']}"><img src="{$vo['image_url']|thumb=570,412,3}" alt="{$vo['title']}"></a></div>
						{/volist}
						{/lz:examples}
				    </div>
				    <!-- Add Arrows -->
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</div>
</div>
<div class="meal_optimize">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">优惠套餐</div>
			<div class="desc">价格透明，消费合理，帮助企业用低成本获得高收益，让老板不再为推广所难！</div>
			<div class="fill_30"></div>
		</div>
		<div class="meal_optimize_box">
			<div class="meal_optimize_list">
				<div class="meal_optimize_title">
					<p>人工优化版</p>
					<p>（5000人工+3月万词霸屏仿官网版）</p>
				</div>
				<div class="meal_optimize_point">
					<span class="fl"><img src="__TEMPLATE__/static/images/meal_optimize_point01.jpg"></span>
					<div class="point fl">
						<p>关键词优化到搜索引擎首页计费</p>
						<p>对客户更有保障</p>
						<p>同比市场上人工优化竞品</p>
						<p>还赠送3个月万词霸屏套餐</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="zixun"><a href="">套餐咨询</a></div>
			</div>
		</div>
		<div class="meal_optimize_box">
			<div class="meal_optimize_list">
				<div class="meal_optimize_title">
					<p>万词霸屏版</p>
					<p>（1年万词霸屏仿官网版+1000人工）</p>
				</div>
				<div class="meal_optimize_point">
					<span class="fl"><img src="__TEMPLATE__/static/images/meal_optimize_point02.jpg"></span>
					<div class="point fl">
						<p>3-7天快速上几千几万个关键词</p>
						<p>到搜索引擎首页</p>
						<p>关键词占位，呈现霸屏效果</p>
						<p>赠送1000元人工精准优化余额</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="zixun"><a href="">套餐咨询</a></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.case_optimize .case_optimize_tab .case_optimize_list').click(function(){
		$('.case_optimize .case_optimize_tab .case_optimize_list').removeClass('on');
		$(this).addClass('on');
		var	index = $('.case_optimize .case_optimize_tab .case_optimize_list').index(this);
		$('.case_optimize .case_all_tab').removeClass('active');
		$('.case_optimize .case_all_tab:eq('+index+')').addClass('active');
	})
</script>
<script>
    var swiper = new Swiper('.case_optimize_all', {
      loop : true,
      autoplay: {
	    delay: 2000,
	    stopOnLastSlide: false,
	    disableOnInteraction: true,
	  },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>


{include file="public/footer" /}