{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->


<!-- 类型 -->
<div class="tel400_type_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">400电话号码类型</div>
			<div class="desc">企业通信领域公认的创新领袖和服务商</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="tel400_type_container">
		<div class="tel400_type_pagination_container">
	    	<div class="container_15">
	    		<div class="tel400-type-pagination"></div>
	    		<div class="fill_40"></div><div class="fill_5"></div>
	    	</div>
	    </div>
		<div class="tel400-type-container">
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
					<div class="tel400_type_detail">
						<div class="tel400_type_icon"><p>ABAB类型</p></div>
						<div class="top_contaiiner trans_0_2">
							<p class="title">好号码,过目不忘，任您选</p>
							<div class="number_container">
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
							</div>
						</div>
						<div class="bottom_contaiiner">
							<!-- <p class="tag">独享经济价</p> -->
							<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
							<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
						</div>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="tel400_type_detail">
						<div class="tel400_type_icon"><p>ABAB类型</p></div>
						<div class="top_contaiiner trans_0_2">
							<p class="title">好号码,过目不忘，任您选</p>
							<div class="number_container">
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
							</div>
						</div>
						<div class="bottom_contaiiner">
							<!-- <p class="tag">独享经济价</p> -->
							<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
							<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
						</div>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="tel400_type_detail">
						<div class="tel400_type_icon"><p>ABAB类型</p></div>
						<div class="top_contaiiner trans_0_2">
							<p class="title">好号码,过目不忘，任您选</p>
							<div class="number_container">
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
							</div>
						</div>
						<div class="bottom_contaiiner">
							<!-- <p class="tag">独享经济价</p> -->
							<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
							<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
						</div>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="tel400_type_detail">
						<div class="tel400_type_icon"><p>ABAB类型</p></div>
						<div class="top_contaiiner trans_0_2">
							<p class="title">好号码,过目不忘，任您选</p>
							<div class="number_container">
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
							</div>
						</div>
						<div class="bottom_contaiiner">
							<!-- <p class="tag">独享经济价</p> -->
							<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
							<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
						</div>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="tel400_type_detail">
						<div class="tel400_type_icon"><p>ABAB类型</p></div>
						<div class="top_contaiiner trans_0_2">
							<p class="title">好号码,过目不忘，任您选</p>
							<div class="number_container">
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
							</div>
						</div>
						<div class="bottom_contaiiner">
							<!-- <p class="tag">独享经济价</p> -->
							<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
							<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
						</div>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="tel400_type_detail">
						<div class="tel400_type_icon"><p>ABAB类型</p></div>
						<div class="top_contaiiner trans_0_2">
							<p class="title">好号码,过目不忘，任您选</p>
							<div class="number_container">
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
								<span>400-163-6868</span><span>400-163-6868</span>
							</div>
						</div>
						<div class="bottom_contaiiner">
							<!-- <p class="tag">独享经济价</p> -->
							<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
							<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
						</div>
					</div>
			    </div>
		    </div>
	    </div>
	   	<script>
	   	var case_name_arr = ['ABAB类型','ABAB类型','ABAB类型','ABAB类型','ABAB类型','ABAB类型'];
	    var system = new Swiper('.tel400-type-container', {
	        pagination: {
		        el: '.tel400-type-pagination',
		        clickable: true,
		        renderBullet: function (index, className) {
		          return '<div class="'+className+'">' + case_name_arr[index] + '</div>';
		        },
	        },
	      	autoplay:true,
			loop : true,
	    });
	  	</script>
	</div>
</div>

<!-- 流程 -->
<div class="tel400_step_block">
	<div class="container_15">
		<div class="index_block_title index_block_title_white">
			<div class="fill_30"></div>
			<div class="title">开通流程</div>
			<div class="desc">简单、快捷、方便、一步到位</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="tel400_step_container">
		<ul class="container_10">
			<li class="step1">
				<div class="icon_container"><span class="icon">Step1:选择号码与套餐</span></div>
				<p class="desc">提交企业相关审核证件</p>
			</li>
			<li class="step2">
				<div class="icon_container"><span class="icon">Step2:现场沟通签约</span></div>
				<p class="desc">定制通信服务，现场签约</p>
			</li>
			<li class="step3">
				<div class="icon_container"><span class="icon">Step3:资质审核</span></div>
				<p class="desc">运营商审核办理业务</p>
			</li>
			<li class="step4">
				<div class="icon_container"><span class="icon">Step4:号码开通</span></div>
				<p class="desc">验证通过后号码开通</p>
			</li>
			<div class="fill_40"></div>
		</ul>
	</div>
</div>

<!-- 流程 -->
<div class="tel400_why_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">为何选择400电话</div>
			<div class="desc">放心的平台、放心的服务、放心的价格</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="tel400_why_container">
		<ul>
			<li class="step1 trans_0_2">
				<div class="top_contaiiner">
					<p class="icon"></p>
					<p class="title">市场NO.1</p>
					<p class="desc">连续10年新增用户数、用户规模全国NO.1</p>
				</div>
			</li>
			<li class="step2 trans_0_2">
				<div class="top_contaiiner">
					<p class="icon"></p>
					<p class="title">快速稳定</p>
					<p class="desc">运营级平台经20万用户检验，安全，可靠</p>
				</div>
			</li>
			<li class="step3 trans_0_2">
				<div class="top_contaiiner">
					<p class="icon"></p>
					<p class="title">性价比高</p>
					<p class="desc">我们承诺：同样价格，号码更好，价值更高</p>
				</div>
			</li>
			<div class="fill_20"></div>
		</ul>
	</div>
</div>

<!-- 流程 -->
<div class="tel400_package_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">热销套餐</div>
			<div class="desc">放放心的平台、放心的服务、放心的价格</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="tel400_package_container">
		<ul class="container_15">
			<li class="step1 trans_0_2">
				<div class="top_contaiiner">经济套餐</div>
				<div class="bottom_contaiiner">
					<div class="desc">开户好礼：<br>赠送<span>15</span>项基础功能，<span>1项</span>千度增值功能。<br><span>新用户</span>免单开户，更有限量话费好礼相送。</div>
					<div class="number_title">配送号码：</div>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
					</div>
					<div class="price_container">
						<span class="price">999元/年</span>
						<span class="heyue">合约年限：3年</span>
					</div>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">点击咨询套餐详情</a>
				</div>
			</li>
			<li class="step2 trans_0_2">
				<div class="top_contaiiner">靓号套餐</div>
				<div class="bottom_contaiiner">
					<div class="desc">开户好礼：<br>赠送<span>15</span>项基础功能，<span>1项</span>千度增值功能。<br><span>新用户</span>免单开户，更有限量话费好礼相送。</div>
					<div class="number_title">配送号码： </div>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
					</div>
					<div class="price_container">
						<span class="price">1999元/年</span>
						<span class="heyue">合约年限：3年</span>
					</div>
					<a class="btn trans_0_2" href="{$settings['company_kefu_btn']}">点击咨询套餐详情</a>
				</div>
			</li>
			<li class="step3 trans_0_2">
				<div class="top_contaiiner">超级套餐</div>
				<div class="bottom_contaiiner">
					<div class="desc">开户好礼：<br>赠送<span>15</span>项基础功能，<span>1项</span>千度增值功能。<br><span>新用户</span>免单开户，更有限量话费好礼相送。</div>
					<div class="number_title">配送号码： </div>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
					</div>
					<div class="price_container">
						<span class="price">2999元/年</span>
						<span class="heyue">合约年限：3年</span>
					</div>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">点击咨询套餐详情</a>
				</div>
			</li>
		</ul>
		<div class="fill_20"></div>
	</div>
</div>


{include file="public/footer" /}