{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->


<div class="page_block website_block" id="step1">
	<div class="container_15">
		<div class="left">
			<img class="website_pic" src="__TEMPLATE__static/images/website_pic1.png" alt="企业品牌型网站套餐">
		</div>
		<div class="right">
			<h3 class="title"><span>企业品牌型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位普通企业网站</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，空间1GB</li>
				<li>• 页面长度三屏以内</li>
				<li>• 设计风格标准型</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="page_block website_block website_block2" id="step2">
	<div class="container_15">
		<div class="left">
			<img class="website_pic" src="__TEMPLATE__static/images/website_pic2.png" alt="产品营销型网站套餐">
		</div>
		<div class="right">
			<h3 class="title"><span>产品营销型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位营销型品牌官网</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，空间5GB</li>
				<li>• 页面长度五屏以内</li>
				<li>• 设计风格品质型</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="page_block website_block" id="step3">
	<div class="container_15">
		<div class="left">
			<img class="website_pic" src="__TEMPLATE__static/images/website_pic3.png" alt="会员服务型网站套餐">
		</div>
		<div class="right">
			<h3 class="title"><span>会员服务型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位会员服务型网</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，空间10GB</li>
				<li>• 页面长度七屏以内</li>
				<li>• 设计风格尊贵型</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="page_block website_block website_block4" id="step4">
	<div class="container_15">
		<div class="left">
			<img class="website_pic" src="__TEMPLATE__static/images/website_pic4.png" alt="电商运营型网站套餐">
		</div>
		<div class="right">
			<h3 class="title"><span>电商运营型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位电商运营网站</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，独立服务器</li>
				<li>• 页面长度不限</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="page_block website_block" id="step5">
	<div class="container_15">
		<div class="left">
			<img class="website_pic" src="__TEMPLATE__static/images/website_pic5.png" alt="定制开发型网站套餐">
		</div>
		<div class="right">
			<h3 class="title"><span>定制开发型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位定制开网站</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，独立服务器</li>
				<li>• 页面长度不限</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="website_step">
	<div class="container_15">
		<div class="index_block_title index_block_title_white">
			<div class="fill_30"></div>
			<div class="title">服务流程</div>
			<div class="desc">我们拥有完整的服务流程，让每一位客户都可以享受到完美的用户体验</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="container_15">
		<ul class="wesite_step_list_container">
			<li class="step1" aos="fade-left">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">确认需求</div>
			</li>
			<li class="step_right" aos="fade-left" aos-delay="50"></li>
			<li class="step2" aos="fade-left" aos-delay="100">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">签订合同</div>
			</li>
			<li class="step_right" aos="fade-left" aos-delay="150"></li>
			<li class="step3" aos="fade-left" aos-delay="200">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">项目启动</div>
			</li>
			<li class="step4" aos="fade-right" aos-delay="450">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">产品原型</div>
			</li>
			<li class="step_left" aos="fade-right" aos-delay="300"></li>
			<li class="step5" aos="fade-right" aos-delay="400">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">视觉设计</div>
			</li>
			<li class="step_left" aos="fade-right" aos-delay="350"></li>
			<li class="step6" aos="fade-right" aos-delay="250">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">开发</div>
			</li>
			<li class="step7" aos="fade-left" aos-delay="500">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">测试</div>
			</li>
			<li class="step_right" aos="fade-left" aos-delay="550"></li>
			<li class="step8" aos="fade-left" aos-delay="600">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">上线</div>
			</li>
			<li class="step_right" aos="fade-left" aos-delay="650"></li>
			<li class="step9" aos="fade-left" aos-delay="700">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="title">售后</div>
			</li>
			<div class="double_line_container">
				<div class="double_line"></div>
				<div class="double_line"></div>
				<div class="double_line"></div>
			</div>
			<div class="clear"></div>
		</ul>		 
	</div>
	<div class="fill_20"></div>
</div>
<!-- 保障 -->
<div class="website_baozhang">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">网站售后服务保障</div>
			<div class="desc">8大环节,60多道节点,严控软件质量度,只为客户移动运营走好关键的第一步</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="container_15">
		<ul class="website_baozhang_list_container">
			<li class="step1">
				<div class="icon_container"><p class="icon"></p></div>
				<div class="title">数据备份保障</div>
				<div class="desc">所有网络设备采用双点备份，避免单点故障</div>
			</li>
			<li class="step2">
				<div class="icon_container"><p class="icon"></p></div>
				<div class="title">网络安全保障</div>
				<div class="desc">采用先进的防火墙、负载均衡，防止DDOS攻击</div>
			</li>
			<li class="step3">
				<div class="icon_container"><p class="icon"></p></div>
				<div class="title">网络连通性保障</div>
				<div class="desc">所有网络设备采用双点备份，避免单点故障</div>
			</li>
			<li class="step4">
				<div class="icon_container"><p class="icon"></p></div>
				<div class="title">客户服务保障</div>
				<div class="desc">标准服务等级协议(SLA)，7天×24小时客服热线</div>
			</li>
		</ul>
	</div>
	<div class="fill_50"></div>
</div>
{include file="public/footer" /}