{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->

<!-- 系统搭建 -->
<div class="weixin_system_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">微信公众号系统搭建</div>
			<div class="desc">打通微信公众平台，一键式操作更简单</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="system_container">
		<div class="system_pagination_container">
	    	<div class="container_15">
	    		<div class="fill_40"></div>
	    		<div class="system-pagination"></div>
	    	</div>
	    </div>
		<div class="system-container">
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
					<div class="system_detail zhanshi_detail">
						<ul> 
							<li class="step1"><p class="icon"><span></span></p><p class="name">微官网</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">微场景</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">微信喜帖</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">微政府</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">微名片</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">微预约</p></li>
							<li class="step7"><p class="icon"><span></span></p><p class="name">360全景展示</p></li>
							<div class="clear"></div>
						</ul>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="system_detail tuiguang_detail">
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">微渠道</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">微贺卡</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">优惠券</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">微信请柬</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">超级秒杀</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">全民经纪人</p></li>
							<li class="step7"><p class="icon"><span></span></p><p class="name">微信红包</p></li>
							<li class="step8"><p class="icon"><span></span></p><p class="name">微信签到</p></li>
							<div class="clear"></div>
						</ul>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="system_detail hudong_detail">
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">微现场</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">微投票</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">上头条</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">微游戏</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">摇一摇</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">微社区</p></li>
							<li class="step7"><p class="icon"><span></span></p><p class="name">惩罚台</p></li>
							<div class="clear"></div>
						</ul>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="system_detail chengjiao_detail">
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">微商城</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">微外卖</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">微团购</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">微小店</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">微餐饮</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">微信支付</p></li>
							<div class="clear"></div>
						</ul>
					</div>
			    </div>
		    </div>
	    </div>
	   	<script>
	   	var case_name_arr = ['展示型','推广型','互动型','成交型'];
	    var system = new Swiper('.system-container', {
	        pagination: {
		        el: '.system-pagination',
		        clickable: true,
		        renderBullet: function (index, className) {
		          return '<div class="'+className+'"><h5>' + case_name_arr[index] + '</h5></div>';
		        },
	        },
	      	autoplay:true,
			loop : true,
	    });
	  	</script>
	</div>
</div>
<!-- 定制开发 -->
<div class="weixin_custom_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">微信公众号定制开发</div>
			<div class="desc">打通微信公众平台，一键式操作更简单</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="custom_container">
		<ul class="container_15">
			<li class="step1">
				<div class="li_con">
					<div class="icon"><span></span></div>
					<p class="title">提供开发源码</p>
					<p class="desc">完全操纵后期的开发与技术权</p>
				</div>
			</li>
			<li class="step2">
				<div class="li_con">
					<div class="icon"><span></span></div>
					<p class="title">支持个性化定制</p>
					<p class="desc">全面满足您的开发定制需求</p>
				</div>
			</li>
			<li class="step3">
				<div class="li_con">
					<div class="icon"><span></span></div>
					<p class="title">节省维护成本</p>
					<p class="desc">后期终身维护，免您后顾之忧</p>
				</div>
			</li>
			<li class="step4">
				<div class="li_con">
					<div class="icon"><span></span></div>
					<p class="title">保持持续更新</p>
					<p class="desc">产品持续更新，升级永无止境</p>
				</div>
			</li>
			<div class="fill_20"></div>
		</ul>
	</div>
</div>

<!-- 产品功能 -->
<div class="weixin_product_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">六大产品功能</div>
			<div class="desc">微信强大的覆盖率，多功能的端口</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="weixin_product_list_container">
		<ul class="container_15">
			<li>
				<div class="pic"><img src="__TEMPLATE__static/images/weixin_product1.jpg" alt="微信商城"></div>
				<div class="info">
					<p class="title">微信商城</p>
					<p class="desc">企业在微信公众平台搭建在线销售的商城店铺，实现真正的移动电商；让移动端手机快捷地接触品牌产品，无需登录，仅填写地址，及时支付。</p>
				</div>
			</li>
			<li>
				<div class="pic"><img src="__TEMPLATE__static/images/weixin_product2.jpg" alt="微官网"></div>
				<div class="info">
					<p class="title">微官网</p>
					<p class="desc">微官网是企业实力、企业品牌形象的象征，在激烈的行业竞争中，企业只有保持创新、不断创造才能立于不败之地。</p>
				</div>
			</li>
			<li>
				<div class="pic"><img src="__TEMPLATE__static/images/weixin_product3.jpg" alt="微信营销"></div>
				<div class="info">
					<p class="title">微信营销</p>
					<p class="desc">为顾客提供多微营销功能开发服务，包括摇一摇、抽奖、红包、大转盘，投票活动、砸金蛋等多种营销工具。</p>
				</div>
			</li>
			<li>
				<div class="pic"><img src="__TEMPLATE__static/images/weixin_product4.jpg" alt="行业应用"></div>
				<div class="info">
					<p class="title">行业应用</p>
					<p class="desc">针对不同的行业，开发出不同功能，包括：微外卖、微餐饮、微汽车、微美容、酒店预约、微房产等等，满足30多个行业的需求。</p>
				</div>
			</li>
			<li>
				<div class="pic"><img src="__TEMPLATE__static/images/weixin_product5.jpg" alt="微会员"></div>
				<div class="info">
					<p class="title">微会员</p>
					<p class="desc">粉丝成为微信会员，对于顾客可以获得会员特权，对商家可以收集顾客信息进行客户管理，增加粉丝的忠诚度。</p>
				</div>
			</li>
			<li>
				<div class="pic"><img src="__TEMPLATE__static/images/weixin_product6.jpg" alt="微信支付"></div>
				<div class="info">
					<p class="title">微信支付</p>
					<p class="desc">微信支付功能开发，实现多种方式微信支付，为客户提供了便捷的支付方式，更好的为企业商家促进销售。</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- 辅助计划 -->
<div class="weixin_plan_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">微信公众号客户辅导计划</div>
			<div class="desc">微信平台众多的特色服务 ，只为成就您想做的一切</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="weixin_plan_list_container">
		<ul class="container_15">
			<li class="step1">
				<div class="li_con">
					<div class="title">微信公众号</div>
					<div class="icon"><span></span></div>
					<div class="desc">代申请<br>微信公众号</div>
				</div>
			</li>
			<li class="step2">
				<div class="li_con">
					<div class="title">微信认证</div>
					<div class="icon"><span></span></div>
					<div class="desc">代申请<br>微信认证</div>
				</div>
			</li>
			<li class="step3">
				<div class="li_con">
					<div class="title">微信小程序</div>
					<div class="icon"><span></span></div>
					<div class="desc">代申请<br>微信小程序</div>
				</div>
			</li>
			<li class="step4">
				<div class="li_con">
					<div class="title">微信支付</div>
					<div class="icon"><span></span></div>
					<div class="desc">代申请<br>微信支付</div>
				</div>
			</li>
		</ul>
		<div>
			<a class="apply_now" href="{$settings['company_kefu_btn']}">立即申请</a>
		</div>
	</div>
</div>

<!-- 流程 -->
<div class="weixin_step_block">
	<div class="container_15">
		<div class="index_block_title index_block_title_white">
			<div class="fill_30"></div>
			<div class="title">我们的服务流程</div>
			<div class="desc">微信开发龙头企业，做到别人做不到的功能</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="weixin_step_list_container">
		<ul class="container_5">
			<li class="step step1" aos="fade-left">
				<div class="icon"></div>
			</li>
			<li class="line line1" aos="fade-left" aos-delay="50">
				<div class="icon"></div>
			</li>
			<li class="step step2" aos="fade-left" aos-delay="100">
				<div class="icon"></div>
			</li>
			<li class="line line2" aos="fade-left" aos-delay="150">
				<div class="icon"></div>
			</li>
			<li class="step step3" aos="fade-left" aos-delay="200">
				<div class="icon"></div>
			</li>
			<!-- <li class="line line3" aos="fade-left" aos-delay="250">
				<div class="icon"></div>
			</li> -->
			<li class="step step4" aos="fade-left" aos-delay="300">
				<div class="icon"></div>
			</li>
			<li class="line line4" aos="fade-left" aos-delay="350">
				<div class="icon"></div>
			</li>
			<li class="step step5" aos="fade-left" aos-delay="400">
				<div class="icon"></div>
			</li>
			<div class="clear"></div>
			<div class="fill_30"></div>
		</ul>
	</div>
</div>

<!-- 优势 -->
<div class="weixin_youshi_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">我们的竞争优势</div>
			<div class="desc">打造最符合企业自身的微信营销方式</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="weixin_youshi_list_container">
		<ul class="container_15">
			<li class="step1">
				<div class="icon"><span></span></div>
				<div class="info">
					<p class="title">外观设计</p>
					<p class="desc">精美外观设计震撼<br>您的视觉</p>
				</div>
			</li>
			<li class="step2">
				<div class="icon"><span></span></div>
				<div class="info">
					<p class="title">技术支持</p>
					<p class="desc">百人技术团队定制<br>您的专属需求</p>
				</div>
			</li>
			<li class="step3">
				<div class="icon"><span></span></div>
				<div class="info">
					<p class="title">功能丰富</p>
					<p class="desc">功能精细化适应<br>不同行业</p>
				</div>
			</li>
			<li class="step4">
				<div class="icon"><span></span></div>
				<div class="info">
					<p class="title">优质服务</p>
					<p class="desc">一对一式服务<br>私有化策略部署</p>
				</div>
			</li>
			<li class="step5">
				<div class="icon"><span></span></div>
				<div class="info">
					<p class="title">资金安全</p>
					<p class="desc">交易时资金安全<br>有保障</p>
				</div>
			</li>
			<li class="step6">
				<div class="icon"><span></span></div>
				<div class="info">
					<p class="title">标准验收</p>
					<p class="desc">按合同要求<br>高标准验收</p>
				</div>
			</li>
			<li class="step7">
				<div class="icon"><span></span></div>
				<div class="info">
					<p class="title">法律保障</p>
					<p class="desc">交易时签署<br>法律合同</p>
				</div>
			</li>
			<li class="step8">
				<div class="icon"><span></span></div>
				<div class="info">
					<p class="title">多家全资公司</p>
					<p class="desc">设有京浙蜀粤<br>多家公司</p>
				</div>
			</li>
		</ul>
	</div>
</div>


{include file="public/footer" /}