{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner_container">
	<img class="second_banner_pic" src="{$category['wap_image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->


<!-- 核心场景 -->
<div class="xiaochengxu_scene_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">小程序核心场景</div>
			<div class="desc">小程序丰富的使用场景，离用户更近一步</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="xiaochengxu_scene_container">
		<ul class="container_25">
			<li class="step1" aos="fade-down" aos-delay="50">
				<div class="icon"><span></span></div>
				<div class="line"></div>
			</li>
			<li class="step2" aos="fade-down" aos-delay="100">
				<div class="icon"><span></span></div>
				<div class="line"></div>
			</li>
			<li class="step3" aos="fade-down" aos-delay="150">
				<div class="icon"><span></span></div>
				<div class="line"></div>
			</li>
			<li class="step4" aos="fade-down" aos-delay="200">
				<div class="icon"><span></span></div>
				<div class="line"></div>
			</li>
			<li class="step5" aos="fade-down" aos-delay="250">
				<div class="icon"><span></span></div>
				<div class="line"></div>
			</li>
			<li class="step6" aos="fade-down" aos-delay="300">
				<div class="icon"><span></span></div>
				<div class="line"></div>
			</li>
			<div class="clear"></div>
		</ul>
		<div class="phone_pic" aos="fade-down" aos-delay="0"><img src="__TEMPLATE__static/images/xiaochengxu_scene_phone.png" alt="小程序"></div>
		<div class="fill_30"></div>
	</div>
</div>

<!-- 核心功能 -->
<div class="xiaochengxu_gongneng_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">千度科技为不同行业提供小程序核心功能</div>
			<div class="desc">各种场景核心功能，专业定制开发</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="xiaochengxu_gongneng_container">
		<ul class="container_10">
			<li>
				<div class="li_con">
					<div class="pic"><img src="__TEMPLATE__static/images/xiaochengxu_canyin.jpg" alt="餐饮"></div>
					<div class="title"><span>餐饮</span></div>
				</div>
			</li>
			<li>
				<div class="li_con">
					<div class="pic"><img src="__TEMPLATE__static/images/xiaochengxu_dianshang.jpg" alt="电商"></div>
					<div class="title"><span>电商</span></div>
				</div>
			</li>
			<li>
				<div class="li_con">
					<div class="pic"><img src="__TEMPLATE__static/images/xiaochengxu_jianshen.jpg" alt="健身"></div>
					<div class="title"><span>健身</span></div>
				</div>
			</li>
			<li>
				<div class="li_con">
					<div class="pic"><img src="__TEMPLATE__static/images/xiaochengxu_meiye.jpg" alt="美业"></div>
					<div class="title"><span>美业</span></div>
				</div>
			</li>
			<li>
				<div class="li_con">
					<div class="pic"><img src="__TEMPLATE__static/images/xiaochengxu_hunqing.jpg" alt="婚庆"></div>
					<div class="title"><span>婚庆</span></div>
				</div>
			</li>
			<li>
				<div class="li_con">
					<div class="pic"><img src="__TEMPLATE__static/images/xiaochengxu_ktv.jpg" alt="KTV"></div>
					<div class="title"><span>KTV</span></div>
				</div>
			</li>
			
			<li>
				<div class="li_con">
					<div class="pic"><img src="__TEMPLATE__static/images/xiaochengxu_jiuba.jpg" alt="酒吧"></div>
					<div class="title"><span>酒吧</span></div>
				</div>
			</li>
			<li>
				<div class="li_con">
					<div class="pic"><img src="__TEMPLATE__static/images/xiaochengxu_jiaoyu.jpg" alt="教育"></div>
					<div class="title"><span>教育</span></div>
				</div>
			</li>
			<div class="fill_30"></div>
		</ul>
	</div>
</div>

<!-- 流程 -->
<div class="xiaochengxu_step_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">千度科技为不同行业提供小程序核心功能</div>
			<div class="desc">各种场景核心功能，专业定制开发</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="xiaochengxu_step_container">
		<ul class="container_20">
			<li class="step1 fl" aos="fade-left">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">联系咨询</p>
			</li>
			<li class="fl" aos="fade-left" aos-delay="50">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step2 fl" aos="fade-left" aos-delay="100">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">项目启动</p>
			</li>
			<li class="fl" aos="fade-left" aos-delay="150">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step3 fl" aos="fade-left" aos-delay="200">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">产品原型</p>
			</li>
			<li class="fl" aos="fade-left" aos-delay="250">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step4 fl" aos="fade-left" aos-delay="300">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">视觉设计</p>
			</li>
			<div class="fill_30">
				<li class="fr center_point" aos="fade-down"  aos-delay="350">
					<div class="point_cont"><span></span><span></span><span></span></div>
				</li>
			</div>
			<li class="step5 fr" aos="fade-right" aos-delay="400">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">研发</p>
			</li>
			<li class="fr" aos="fade-right" aos-delay="450">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step6 fr" aos="fade-right" aos-delay="500">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">测试</p>
			</li>
			<li class="fr" aos="fade-right" aos-delay="550">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step7 fr" aos="fade-right" aos-delay="600">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">验收</p>
			</li>
			<li class="fr" aos="fade-right" aos-delay="650">
				<div class="point_cont"><span></span><span></span><span></span></div>
			</li>
			<li class="step8 fr" aos="fade-right" aos-delay="700">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">上线</p>
			</li>
			<div class="clear"></div>
			<div class="fill_20"></div>
		</ul>
	</div>
</div>

<!-- 流程 -->
<div class="xiaochengxu_fangan_block">
	<div class="container_15">
		<div class="index_block_title index_block_title_white">
			<div class="fill_30"></div>
			<div class="title">各行业解决方案，满足您的业务需求</div>
			<div class="desc">各个行业，千度都有完整解决方案</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="xiaochengxu_fangan_container">
		<div class="fangan_pagination_container">
	    	<div class="container_1200">
	    		<div class="fangan-pagination"></div>
	    	</div>
	    	<div class="line"></div>
	    </div>
		<div class="fangan-container">
		    <div class="swiper-wrapper">
			    <div class="swiper-slide">
					<div class="fangan_detail dianshang_detail">
						<div class="title">电商解决方案</div>
						<div class="desc">电商解决方案致力于为零售业提供多渠道电商解决方案，通过自建商城，以及营销系统、分销系统、会员系统帮助企业搭建新一代微商城销售体系，快速实现去中心化流量聚合，客户粉丝沉淀，助力企业快速步入移动电商时代。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">在线商城</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">拼团砍价</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">分销</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">客户管理</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">会员营销</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">客服系统</p></li>
							<div class="clear"></div>
						</ul>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="fangan_detail canyin_detail">
						<div class="title">餐饮解决方案</div>
						<div class="desc">餐饮解决方案整合营销、会员、外卖、支付、商城等餐厅经营所需的所有功能，通过微信营销和会员管理帮助餐厅多渠道吸引新客到店，为餐饮商户提供餐厅O2O解决方案。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">门店管理</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">会员管理</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">营销活动</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">点餐</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">外卖</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">数据统计</p></li>
							<div class="clear"></div>
						</ul>
					</div>
			    </div>
			    <div class="swiper-slide">
					<div class="fangan_detail lingshou_detail">
						<div class="title">零售解决方案</div>
						<div class="desc">新零售以在线商城、门店收银、多渠道进销存、客户管理、互动营销、数据分析在内的六大核心服务，实现线上线下商品、会员、场景的互联互通，助推企业快速实现营销、服务、效率转型升级。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">在线商城</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">收银系统</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">多门店</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">客户管理</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">分销</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">数据统计</p></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="fangan_detail yule_detail">
						<div class="title">娱乐解决方案</div>
						<div class="desc">针对洗浴桑拿、足疗按摩、桌游桌球、密室轰趴等不同行业提出不同的解决方案，帮助商家完成线上下单购买，线下消费体验的互联网经营模式转型。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">计次卡</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">周期卡</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">门店预约</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">会员管理</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">数据营销</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">数据统计</p></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="fangan_detail meiye_detail">
						<div class="title">美业解决方案</div>
						<div class="desc">美业解决方案适合美发、美甲、美睫、美容、SPA、芊体瘦身等美业。致力于帮助美业商家完成吸粉，客户转化，会员复购等一系列经营流程。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">计次卡</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">周期卡</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">门店预约</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">会员管理</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">数据营销</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">数据统计</p></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="fangan_detail jiaoyu_detail">
						<div class="title">教育解决方案</div>
						<div class="desc">教育解决方案致力于为教育行业提供多场景营销解决方案及营销工具，通过可视化搭建小程序、多渠道营销系统轻松完成品牌活动推广，详尽的数据分析报告和企业级CRM系统让营销效果可量化、可跟踪，助力企业轻松获客，轻松转化。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">客服系统</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">客户管理</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">互动营销</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">渠道分析</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">分销功能</p></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="fangan_detail fangchan_detail">
						<div class="title">房产解决方案</div>
						<div class="desc">房产解决方案致力于为房产开发商及经济公司提供多渠道营销解决方案及销售管理工具，有效提高推广效率，高效管理客户资源，轻松掌握客户状态，助力转化。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">移动办公</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">客服系统</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">客户管理</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">社交营销</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">内容运营</p></li>
							<li class="step6"><p class="icon"><span></span></p><p class="name">销售跟踪</p></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="fangan_detail hunshasheying_detail">
						<div class="title">婚纱摄影解决方案</div>
						<div class="desc">婚纱摄影提供标准的商城体系，提供双端数据管理功能，可随时登录后台操作。让用户畅通体验全方面优质服务，帮助线下商户直接触达用户。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">拉新获客</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">预约拍摄</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">门店日程</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">摄影开单</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">数据分析</p></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="fangan_detail zhuangxiu_detail">
						<div class="title">装修解决方案</div>
						<div class="desc">家装解决方案致力于为家装行业提供多场景营销解决方案及营销工具，通过可视化搭建小程序、多渠道营销系统轻松完成品牌推广、活动推广，轻松管理客户。</div>
						<ul>
							<li class="step1"><p class="icon"><span></span></p><p class="name">客服系统</p></li>
							<li class="step2"><p class="icon"><span></span></p><p class="name">客户管理</p></li>
							<li class="step3"><p class="icon"><span></span></p><p class="name">互动营销</p></li>
							<li class="step4"><p class="icon"><span></span></p><p class="name">渠道分析</p></li>
							<li class="step5"><p class="icon"><span></span></p><p class="name">数据分析</p></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
		    </div>
	    </div>
	   	<script>
	   	var case_name_arr = ['电商','餐饮','零售','娱乐','美业','教育','房产','婚纱摄影','装修'];
	    var fangan = new Swiper('.fangan-container', {
	        pagination: {
		        el: '.fangan-pagination',
		        clickable: true,
		        dynamicBullets: true,
		        ynamicMainBullets: 4,
		        renderBullet: function (index, className) {
		          return '<div class="'+className+'"><h5>' + case_name_arr[index] + '</h5><p><span></span></p></div>';
		        },
	        },
	      	autoplay:true,
			loop : true,

	    });
	  	</script>
	</div>
</div>


<!-- 流程 -->
<div class="xiaochengxu_youshi_block">
	<div class="container_15">
		<div class="index_block_title">
			<div class="fill_30"></div>
			<div class="title">各行业解决方案，满足您的业务需求</div>
			<div class="desc">各个行业，千度都有完整解决方案</div>
			<div class="fill_20"></div>
		</div>
	</div>
	<div class="xiaochengxu_youshi_container">
		<ul>
			<li>
				<div class="pic">
					<img class="youshi_bg" src="__TEMPLATE__static/images/xiaochengxu_youshi_bg.png" alt="我们小程序优势">
					<img class="youshi_pic" src="__TEMPLATE__static/images/xiaochengxu_youshi1.jpg" alt="我们小程序优势">
				</div>
				<p class="title">开发实力强</p>
				<a target="_blank" href="{$settings['company_kefu_btn']}" class="button">立即咨询</a>
				<p class="desc">50+精英技术团队<br>精心打造</p>
			</li>
			<li>
				<div class="pic">
					<img class="youshi_bg" src="__TEMPLATE__static/images/xiaochengxu_youshi_bg.png" alt="我们小程序优势">
					<img class="youshi_pic" src="__TEMPLATE__static/images/xiaochengxu_youshi2.jpg" alt="我们小程序优势">
				</div>
				<p class="title">经验丰富</p>
				<a target="_blank" href="{$settings['company_kefu_btn']}" class="button">立即咨询</a>
				<p class="desc">20+行业应用解决方案<br>供您选择</p>
			</li>
			<li>
				<div class="pic">
					<img class="youshi_bg" src="__TEMPLATE__static/images/xiaochengxu_youshi_bg.png" alt="我们小程序优势">
					<img class="youshi_pic" src="__TEMPLATE__static/images/xiaochengxu_youshi3.jpg" alt="我们小程序优势">
				</div>
				<p class="title">贴心服务</p>
				<a target="_blank" href="{$settings['company_kefu_btn']}" class="button">立即咨询</a>
				<p class="desc">客户为中心，1对1<br>专人对接</p>
			</li>
			<li>
				<div class="pic">
					<img class="youshi_bg" src="__TEMPLATE__static/images/xiaochengxu_youshi_bg.png" alt="我们小程序优势">
					<img class="youshi_pic" src="__TEMPLATE__static/images/xiaochengxu_youshi4.jpg" alt="我们小程序优势">
				</div>
				<p class="title">运营保障</p>
				<a target="_blank" href="{$settings['company_kefu_btn']}" class="button">立即咨询</a>
				<p class="desc">领先的云计算平台<br>为您护航</p>
			</li>
			<div class="clear"></div>
			<div class="fill_20"></div>
		</ul>
	</div>
</div>


{include file="public/footer" /}