{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner" style="background-image:url({$category['image_url']})">
	<img src="{$category['image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->

<div class="account_page">
	<div class="page_block account_page_block">
		<div class="container_1200">
			<div class="page_block_title">
				<h3>交通银行</h3>
				<p>Bank of Communications</p>
			</div>
			<div class="fill_20"></div> 
			<div class="account_container">
				<div class="logo"><img src="__TEMPLATE__/static/images/bank_logo_jiaotong.png" alt="交通银行"></div>
				<div class="account_info_container">
					<div class="account_info">
						<p><span>交通银行账号：</span><span>6222 6006 2002 6203 771</span></p>
						<p><span>开户行：</span><span>郑州市花园路支行</span></p>
						<p><span>户名：</span><span>肖庆方</span></p>
					</div> 
				</div>
				<div class="fill_20"></div> 
			</div>
		</div>
	</div>
	<div class="page_block account_page_block account_page_block1">
		<div class="container_1200">
			<div class="page_block_title page_block_title_white">
				<h3>工商银行</h3>
				<p>INDUSTRIAL AND COMMERCIAL BANK OF CHINA</p>
			</div> 
			<div class="fill_20"></div> 
			<div class="account_container">
				<div class="logo"><img src="__TEMPLATE__/static/images/bank_logo_gongshang.png" alt="工商银行"></div>
				<div class="account_info_container">
					<div class="account_info">
						<p><span>工商银行账号：</span><span>6222 0217 0205 4818 992</span></p>
						<p><span>开户行：</span><span>郑州市国基路支行</span></p>
						<p><span>户名：</span><span>肖庆方</span></p>
					</div> 
				</div>
				<div class="fill_20"></div> 
			</div>
		</div>
	</div>
	<div class="page_block account_page_block">
		<div class="container_1200">
			<div class="page_block_title">
				<h3>农业银行</h3>
				<p>AGRICULTURAL BANK OF CHINA</p>
			</div>
			<div class="fill_20"></div> 
			<div class="account_container">
				<div class="logo"><img src="__TEMPLATE__/static/images/bank_logo_nongye.png" alt="农业银行"></div>
				<div class="account_info_container">
					<div class="account_info">
						<p><span>农业银行账号：</span><span>6228 4807 1840 4464 676</span></p>
						<p><span>开户行：</span><span>郑州市国基路支行</span></p>
						<p><span>户名：</span><span>肖庆方</span></p>
					</div> 
				</div>
				<div class="fill_20"></div> 
			</div>
		</div>
	</div>
	<div class="page_block account_page_block account_page_block1">
		<div class="container_1200">
			<div class="page_block_title page_block_title_white">
				<h3>浦发银行</h3>
				<p>Shanghai Pudong Development Bank</p>
			</div> 
			<div class="fill_20"></div> 
			<div class="account_container">
				<div class="logo"><img src="__TEMPLATE__/static/images/bank_logo_pufa.png" alt="浦发银行"></div>
				<div class="account_info_container">
					<div class="account_info">
						<p><span>浦发银行账号：</span><span>6217 9214 0367 0519</span></p>
						<p><span>开户行：</span><span>郑州市国基路支行</span></p>
						<p><span>户名：</span><span>肖庆方</span></p>
					</div> 
				</div>
				<div class="fill_20"></div> 
			</div>
		</div>
	</div>
	<div class="page_block account_page_block">
		<div class="container_1200">
			<div class="page_block_title">
				<h3>郑州银行</h3>
				<p>Zhengzhou Bank</p>
			</div>
			<div class="fill_20"></div> 
			<div class="account_container">
				<div class="logo"><img src="__TEMPLATE__/static/images/bank_logo_zhengzhou.png" alt="郑州银行"></div>
				<div class="account_info_container">
					<div class="account_info">
						<p><span>郑州银行账号：</span><span>6235 3100 0600 0009 264</span></p>
						<p><span>开户行：</span><span>郑州市晨旭路支行</span></p>
						<p><span>户名：</span><span>肖庆方</span></p>
					</div> 
				</div>
				<div class="fill_20"></div> 
			</div>
		</div>
	</div>
	<div class="page_block account_page_block account_page_block1">
		<div class="container_1200">
			<div class="page_block_title page_block_title_white">
				<h3>光大银行</h3>
				<p>Everbright Bank</p>
			</div> 
			<div class="fill_20"></div> 
			<div class="account_container">
				<div class="logo"><img src="__TEMPLATE__/static/images/bank_logo_guangda.png" alt="光大银行"></div>
				<div class="account_info_container">
					<div class="account_info">
						<p><span>光大银行账号：</span><span>6226 6622 0180 1422</span></p>
						<p><span>开户行：</span><span>郑州市政七街支行</span></p>
						<p><span>户名：</span><span>肖庆方</span></p>
					</div> 
				</div>
				<div class="fill_20"></div> 
			</div>
		</div>
	</div>
	
	<div class="page_block account_page_block">
		<div class="container_1200">
			<div class="page_block_title">
				<h3>对公支付宝&微信账号</h3>
				<p>For the public Alipay & WeChat account</p>
			</div>
			<div class="fill_80"></div> 
			<div class="alipay_wechat_container">
				<div class="qrcode_container">
					<div class="qrcode"><img src="__TEMPLATE__/static/images/alipay_qrcode.png" alt="支付宝"></div>
					<p>对公支付宝账号</p>
				</div>
				<div class="qrcode_container">
					<div class="qrcode"><img src="__TEMPLATE__/static/images/wechat_pay_qrcode.png" alt="微信"></div>
					<p>对公微信账号</p>
				</div>
				<div class="fill_50"></div> 
			</div>
		</div>
	</div>
	<div class="page_block account_page_block account_page_block1">
		<div class="container_1200">
			<div class="page_block_title page_block_title_white">
				<h3>对公账户</h3>
				<p>Public accounts</p>
			</div> 
			<div class="fill_20"></div> 
			<div class="account_container">
				<div class="logo"><img src="__TEMPLATE__/static/images/bank_logo_qiandu.png" alt="对公账户"></div>
				<div class="account_info_container">
					<div class="account_info">
						<p><span>对公账户账号：</span><span>9380 1880 1816 85420</span></p>
						<p><span>开户行：</span><span>郑州银行股份有限公司晨旭路支行</span></p>
						<p><span>户名：</span><span>郑州千度信息技术有限公司</span></p>
					</div> 
				</div>
				<div class="fill_20"></div> 
			</div>
		</div>
	</div>

	<div class="page_block account_page_block">
		<div class="container_1200">
			<div class="page_block_title">
				<h3>温馨提示</h3>
				<p>Tips for you</p>
			</div>
			<div class="fill_30"></div> 
			<div class="tips_container">
				<p>1 . 打款到账户后，请及时将打款凭证发送给业务经理，方便公司查账；</p>
				<p>2 . 以上账号及户名为本公司财务指定账户，为避免给您公司带来不必要的经济损失，请务必核实千度支付账户，谢谢！</p>
				<p>3 . 如有问题，联系财务部电话：15037128893</p>
			</div>
			<div class="fill_50"></div> 
			<div class="sign_container">
				<div class="sign">
					<p>郑州千度信息技术有限公司</p>
					<p>2018年01月01日</p>
					<div class="gongzhang"></div>
				</div>
			</div>
			<div class="fill_20"></div> 
		</div>
	</div>


</div>



{include file="public/footer" /}