{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner" style="background-image:url({$category['image_url']})">
	<img src="{$category['image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->
<!-- app类型 -->
<div class="page_block app_type">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>我们能做的产品类型</h3>
			<p>了解APP,精准判定适合您的APP</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step1">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">新闻资讯app</p>
					<p class="desc">手机的更新迭代对终老年人也有极大影响，现在手机软件代替了书报不出门便知天下事，足不出户也可以知道重大事件的发生</p>
				</div>
			</li>
			<li class="step2">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">教育培训app</p>
					<p class="desc">现代化的教育培训不应该局限于学校以及培训机构，而老师也不再是传统意义上的讲书先生。</p>
				</div>
			</li>
			<li class="step3">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">社交类app</p>
					<p class="desc">现今的社会，人与人之间都有一层隔阂，交友工具的出现解决了现下人们的沟通问题，实现了朋友遍天下，距离不是问题</p>
				</div>
			</li>
			<li class="step4">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">医疗健身app</p>
					<p class="desc">移动医疗被称为“王冠上的明珠”是卫生部的重点关注项目。在未来三五年，移动医疗应用建设将会不断加快</p>
				</div>
			</li>
			<li class="step5">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">旅游类app</p>
					<p class="desc">随着交通和经济的飞速发展，越来越多的人选择在闲暇时间旅行，在线订酒店机票和路线，也渐渐成为人们出行的必需品</p>
				</div>
			</li>
			<li class="step6"><a href="{$categorys[33]['url']}">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">棋牌类app</p>
					<p class="desc">当前的即时通讯APP层出不穷，都是顺应了现在的时代潮流，手机游戏成了人们生活中必须进行的乐趣，游戏app的出现解决人们无聊时间的烦恼</p>
				</div>
			</a></li>
			<li class="step7">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">住宿餐饮app</p>
					<p class="desc">网络时代发展逐渐壮大，当代的年轻人群大都喜欢宅在家里，手机点餐、网上订酒店成了现在的青年们日常的重要项目</p>
				</div>
			</li>
			<li class="step8">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">直播类app</p>
					<p class="desc">随着网络时代的兴起，直播渐渐的成为网络新星们的一大工具，人们在闲暇时间都喜欢开直播，跟广大网友分享生活</p>
				</div>
			</li>
			<li class="step9">
				<div class="icon_container"><span></span></div>
				<div class="text">
					<p class="title">电商营销app</p>
					<p class="desc">目前庞大的手机用户基数，促使了 智能手机APP的井喷式诞生。移动 商城类手机APP是集合产品展示、 产品推荐、收藏</p>
				</div>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- app带来什么 -->
<div class="page_block app_what">
	<div class="container_1200">
		<div class="page_block_title page_block_title_white">
			<h3>企业APP能给您带来什么</h3>
			<p>对企业来说,开发一款属于自己的APP已刻不容缓</p>
		</div>
	</div>
	<div class="container_1200 app_what_container">
		<img class="app_what_pic" src="__TEMPLATE__/static/images/app_what_pic.png" alt="企业APP能给您带来什么">
		<ul class="left fl">
			<li aos="fade-right">
				<div class="title"><span class="card">01</span><span class="text">精准营销</span></div>
				<p class="desc">APP可以将企业的最新消息快速精准的传达给目标客户</p>
			</li>
			<li aos="fade-right">
				<div class="title"><span class="card">03</span><span class="text">成本低</span></div>
				<p class="desc">APP能让企业用最低的广告成本，获得最佳的网站宣传效果</p>
			</li>
			<li aos="fade-right">
				<div class="title"><span class="card">05</span><span class="text">提升企业形象</span></div>
				<p class="desc">APP拥有较好的用户体验，会提升企业的形象和用户的忠诚度</p>
			</li>
			<li aos="fade-right">
				<div class="title"><span class="card">07</span><span class="text">企业自有销售平台</span></div>
				<p class="desc">企业APP拥有独立的域名空间和品牌，投入和软件支出是一次性的</p>
			</li>
		</ul>
		<ul class="right fr">
			<li aos="fade-left">
				<div class="title"><span class="card">02</span><span class="text">用户粘性强</span></div>
				<p class="desc">一旦用户下载应用，其内容和趣味性会吸引用户，形成用户粘性</p>
			</li>
			<li aos="fade-left">
				<div class="title"><span class="card">04</span><span class="text">流量更多</span></div>
				<p class="desc">企业APP的客户访问量远远超过了传统互联网（电脑端）的流量</p>
			</li>
			<li aos="fade-left">
				<div class="title"><span class="card">06</span><span class="text">用户体验更好</span></div>
				<p class="desc">APP的交互性设计比pc端的界面更具有趣味性，更符合用户心理</p>
			</li>
			<li aos="fade-left">
				<div class="title"><span class="card">08</span><span class="text">建立强大的用户数据库</span></div>
				<p class="desc">创建企业APP建立以客户为中心的信息协同管理，让管理层能够很好跟踪销售的趋势</p>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<!-- 为什么做app -->
<div class="page_block app_why">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>企业为什么要建立自己的APP</h3>
			<p>对企业来说,开发一款属于自己的APP已刻不容缓</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step1 trans_0_2">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">质量保障</p>
				<p class="desc">重新编码开发，安全性高<br>设计+APP前端+后台程序统一定制</p>
			</li>
			<li class="step2 trans_0_2">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">价格对比</p>
				<p class="desc">价虽高，质量全程保障<br>好比五星级酒店，贵却好</p>
			</li>
			<li class="step3 trans_0_2">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">版权所有</p>
				<p class="desc">版权源码归您自己所有<br>APP开发完，我们会把源码给您</p>
			</li>
			<li class="step4 trans_0_2">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">售后维护</p>
				<p class="desc">终身免维护<br>教您上传资料，出现问题，及时解决</p>
			</li>
			<div class="clear"></div>
		</ul>
		<div class="fill_30"></div>
	</div>
</div>
<!-- app优势 -->
<div class="page_block app_youshi">
	<div class="container_1200">
		<div class="page_block_title page_block_title_white">
			<h3>我们产品的优势</h3>
			<p>那么多APP开发公司，为何唯独我能脱颖而出</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step1">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="text_container">
					<p class="title">贴心服务理念</p>
					<p class="desc">一对一的跟单模式，从售前到售后阶段始终如一，及时充分了解客户需求，并具备专业的售前分析及成熟的技术支持。</p>
				</div>
			</li>
			<li class="step2">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="text_container">
					<p class="title">严谨的项目开发流程</p>
					<p class="desc">严谨的项目管控流程、充分了解客户需求，深入考虑平台的延展性和包容性，多端专业的默契的开发能力，让平台更具有生命力。</p>
				</div>
			</li>
			<li class="step3">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="text_container">
					<p class="title">专业的策划设计</p>
					<p class="desc">我们深入理解调研、通过精准定位、策略研究、角色分析、流程分析及功能定义等做好完善的策划工作，做好深度的视觉设计。</p>
				</div>
			</li>
			<li class="step4">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="text_container">
					<p class="title">贴心的售后跟踪服务</p>
					<p class="desc">定期回访，了解跟进运营的情况，给出我们专业的分析意见，贴心、及时的售后服务，让您无后顾之忧。</p>
				</div>
			</li>
			<li class="step5">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="text_container">
					<p class="title">高品质的质量控制</p>
					<p class="desc">独立的测试部门，通过多轮测试把关，体贴的上线服务，考虑到各种上线细节，维护跟进测试等服务，我们做的不仅仅是测试而是质量把控。</p>
				</div>
			</li>
			<li class="step6">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="text_container">
					<p class="title">多年成功服务经验</p>
					<p class="desc">拥有丰富经验团队，高效流程、可持续拓展架构、持续跟踪挖掘服务，丰富的产品迭代升级，不断的自我突破，只为做更好的产品。</p>
				</div>
			</li>
			<li class="step7">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="text_container">
					<p class="title">合理的收费标准</p>
					<p class="desc">APP定制软件根据企业实际情况，开发设计企业所需的功能模块，根据开发实施过程以及开发团队架构，进行人/天计费模式，计费透明。</p>
				</div>
			</li>
			<li class="step8">
				<div class="icon_container"><span class="icon"></span></div>
				<div class="text_container">
					<p class="title">较高的开发效率</p>
					<p class="desc">分工合理，项目计划时间安排明确，高效的保证项目的如期进行，并确保项目按时按质交付使用。</p>
				</div>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- app流程 -->
<div class="page_block app_step">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>合作流程</h3>
			<p>8大环节,60多道节点,严控软件质量度,只为客户移动运营走好关键的第一步</p>
		</div>
		<div class="fill_30"></div>
		<img class="app_step_pic" src="__TEMPLATE__/static/images/app_step_pic.png" alt="app合作流程">
	</div>
</div>
{include file="public/footer" /}