{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner" style="background-image:url({$category['image_url']})">
	<img src="{$category['image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->
<!-- 域名价格 -->
<div class="page_block domain_price">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>域名价格总览</h3>
		</div>
		<div class="fill_50"></div>
		<table class="price_table" border='0' cellpadding="0" cellspacing="0">
			<tr>
				<th>域名类型</th>
				<th>首年注册（元/年）</th>
				<th>续费（元/年）</th>
			</tr>
			<tr>
				<td><span>.com</span>域名注册首选，全球注册量第一！</td>
				<td>55.00</td>
				<td>69.00</td>
			</tr>
			<tr>
				<td><span>.cn</span>寓意中国，具有中国特色的域名！</td>
				<td>39.00</td>
				<td>50.00</td>
			</tr>
			<tr>
				<td><span>.net</span>最具互联网特色的通用顶级域名!</td>
				<td>65.00</td>
				<td>65.00</td>
			</tr>
			<tr>
				<td><span>.top</span>顶级、高端、适用于任何商业 公司 个人</td>
				<td>39.00</td>
				<td>50.00</td>
			</tr>
			<tr>
				<td><span>.com.cn</span>中国公司和商业组织域名</td>
				<td>39.00</td>
				<td>50.00</td>
			</tr>
			<tr>
				<td><span>.net.cn</span>中国网络服务机构域名</td>
				<td>39.00</td>
				<td>65.00</td>
			</tr>
			<tr>
				<td><span>.org.cn</span>中国非盈利组织域名</td>
				<td>39.00</td>
				<td>65.00</td>
			</tr>
			<tr>
				<td><span>.gov.cn</span>中国政府机构域名</td>
				<td>150.00</td>
				<td>150.00</td>
			</tr>
			<tr>
				<td><span>.biz</span>biz域名，最具有商业特色的域名！</td>
				<td>150.00</td>
				<td>150.00</td>
			</tr>
			<tr>
				<td><span>.info</span>代表一般的信息服务使用</td>
				<td>200.00</td>
				<td>200.00</td>
			</tr>
			<tr>
				<td><span>.mobi</span>mobi域名，最适移动网站首选！</td>
				<td>120.00</td>
				<td>120.00</td>
			</tr>
			<tr>
				<td><span>.中国</span>中文中国国家顶级域名</td>
				<td>320.00</td>
				<td>320.00</td>
			</tr>
			<tr>
				<td><span>.公司</span>中文中国公司和商业组织域名</td>
				<td>320.00</td>
				<td>320.00</td>
			</tr>
			<tr>
				<td><span>.网络</span>中文中国网络服务机构域名</td>
				<td>320.00</td>
				<td>320.00</td>
			</tr>
		</table>
	</div>
</div>

<!-- 虚拟主机 -->
<div class="page_block domain_zhuji">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>虚拟主机</h3>
		</div>
		<div class="fill_50"></div>
		<ul>
			<li>
				<h4 class="title">基础型1GB</h4>
				<div class="size_container">
					<div class="size_block">
						<p class="name">1GB</p>
						<p class="desc">网页空间</p>
					</div>
					<div class="size_block">
						<p class="name">不限</p>
						<p class="desc">月流量</p>
					</div>
					<div class="size_block">
						<p class="name">100MB</p>
						<p class="desc">数据库空间</p>
					</div>
					<div class="clear"></div>
				</div>
				<p class="item">操作系统：Windows、linux</p>
				<p class="item">数据库：SQL Server、mysql</p>
				<p class="item">支持语言：ASP、PHP</p>
				<p class="item">机房：BGP多线机房</p>
				<p class="item price_item">优惠价格：<span>300</span>元/年</p>
				<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</li>
			<li>
				<h4 class="title">经济型3GB</h4>
				<div class="size_container">
					<div class="size_block">
						<p class="name">3GB</p>
						<p class="desc">网页空间</p>
					</div>
					<div class="size_block">
						<p class="name">不限</p>
						<p class="desc">月流量</p>
					</div>
					<div class="size_block">
						<p class="name">300MB</p>
						<p class="desc">数据库空间</p>
					</div>
					<div class="clear"></div>
				</div>
				<p class="item">操作系统：Windows、linux</p>
				<p class="item">数据库：SQL Server、mysql</p>
				<p class="item">支持语言：ASP、PHP</p>
				<p class="item">机房：BGP多线机房</p>
				<p class="item price_item">优惠价格：<span>500</span>元/年</p>
				<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</li>
			<li>
				<h4 class="title">豪华型5GB</h4>
				<div class="size_container">
					<div class="size_block">
						<p class="name">5GB</p>
						<p class="desc">网页空间</p>
					</div>
					<div class="size_block">
						<p class="name">不限</p>
						<p class="desc">月流量</p>
					</div>
					<div class="size_block">
						<p class="name">500MB</p>
						<p class="desc">数据库空间</p>
					</div>
					<div class="clear"></div>
				</div>
				<p class="item">操作系统：Windows、linux</p>
				<p class="item">数据库：SQL Server、mysql</p>
				<p class="item">支持语言：ASP、PHP</p>
				<p class="item">机房：BGP多线机房</p>
				<p class="item price_item">优惠价格：<span>800</span>元/年</p>
				<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- 虚拟主机 -->
<div class="page_block domain_vps">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>快运VPS</h3>
		</div>
		<div class="fill_50"></div>
		<ul>
			<li>
				<h4 class="title">普及型</h4>
				<div class="size_container">
					<div class="size_block">
						<p class="name">2核</p>
						<p class="desc">CPU</p>
					</div>
					<div class="size_block">
						<p class="name">2GB</p>
						<p class="desc">内存</p>
					</div>
					<div class="size_block">
						<p class="name">4Mbps</p>
						<p class="desc">带宽</p>
					</div>
					<div class="clear"></div>
				</div>
				<p class="item">硬盘：40G 系统盘 + 60G 数据盘</p>
				<p class="item">IP地址：1个独享IP</p>
				<p class="item">操作系统：Windows、linux</p>
				<p class="item">机房：BGP多线机房</p>
				<p class="item price_item">优惠价格：<span>999</span>元/年</p>
				<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</li>
			<li>
				<h4 class="title">经济型</h4>
				<div class="size_container">
					<div class="size_block">
						<p class="name">4核</p>
						<p class="desc">CPU</p>
					</div>
					<div class="size_block">
						<p class="name">3GB</p>
						<p class="desc">内存</p>
					</div>
					<div class="size_block">
						<p class="name">5Mbps</p>
						<p class="desc">带宽</p>
					</div>
					<div class="clear"></div>
				</div>
				<p class="item">硬盘：40G 系统盘 + 100G 数据盘</p>
				<p class="item">IP地址：1个独享IP</p>
				<p class="item">操作系统：Windows、linux</p>
				<p class="item">机房：BGP多线机房</p>
				<p class="item price_item">优惠价格：<span>1999</span>元/年</p>
				<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</li>
			<li>
				<h4 class="title">豪华型</h4>
				<div class="size_container">
					<div class="size_block">
						<p class="name">4核</p>
						<p class="desc">CPU</p>
					</div>
					<div class="size_block">
						<p class="name">4GB</p>
						<p class="desc">内存</p>
					</div>
					<div class="size_block">
						<p class="name">6Mbps</p>
						<p class="desc">带宽</p>
					</div>
					<div class="clear"></div>
				</div>
				<p class="item">硬盘：40G 系统盘 + 160G 数据盘</p>
				<p class="item">IP地址：1个独享IP</p>
				<p class="item">操作系统：Windows、linux</p>
				<p class="item">机房：BGP多线机房</p>
				<p class="item price_item">优惠价格：<span>2999</span>元/年</p>
				<a class="btn" target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<div class="fill_30"></div>
{include file="public/footer" /}