{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner" style="background-image:url({$category['image_url']})">
	<img src="{$category['image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->


<script type="text/javascript" src="__TEMPLATE__/static/js/jquery.SuperSlide.2.1.1.js"></script>
<div class="youxi">
    <div class="slideTxtBox">
        <div class="hd youxi_nav">
            <ul class="container_1200">
                <li class="youxi_nav01">
                    <img src="__TEMPLATE__/static/images/youxi_qijian.png" alt="">
                </li>
                <li class="youxi_nav01">
                    <img src="__TEMPLATE__/static/images/youxi_h5.png" alt="">
                </li>
                <li class="youxi_nav01">
                    <img src="__TEMPLATE__/static/images/youxi_u3d.png" alt="">
                </li>
                <div class="clear"></div>
            </ul>
        </div>

        <div class="bd youxi_cont">
            <ul>
                <li class="youxi_cont01" data-aos="fade-up">
                    <div class="youxi_text">
                        <h1>亲友团+比赛模式，旗舰平台深度挖掘市场热点</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>精心打造贴近市场潮流的运营功能<br/>
    留存更多新老客户</p>
                    </div>
                    <div class="youxi_img">
                        <img src="__TEMPLATE__/static/images/youxi_img01.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01" data-aos="fade-down">
                    <div class="youxi_text" id="youxi_text">
                        <h1>旗舰平台开放模式打破桎梏，全面升级</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line01.png" alt="">
                        </div>
                        <p>支持金币开房，同时支持金币、积分战绩统计<br/>
    解决微信群封禁，第三方平台限制难题</p>
                    </div>
                    <div class="youxi_img02">
                        <img src="__TEMPLATE__/static/images/youxi_img01.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont02" data-aos="fade-right">
                    <div class="youxi_text">
                        <h1>全新竞技模式，吸引更多重度棋牌玩家</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>自定义实物奖励配置，平台活跃显著升级<br/>
    金币、钻石赛制丰富，游戏对局紧张刺激</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img03.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01" data-aos="fade-left">
                    <div class="youxi_text" id="youxi_text">
                        <h1>熟人棋牌全新功能，亲友团重磅来袭</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line01.png" alt="">
                        </div>
                        <p>主打亲友对局，更增游戏趣味性<br/>
    社交、竞技两不误</p>
                    </div>
                    <div class="youxi_img02">
                        <img src="__TEMPLATE__/static/images/youxi_img04.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont02" data-aos="fade-up-right">
                    <div class="youxi_text">
                        <h1>运营功能一应俱全，满足玩家多重需求</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>战绩榜、财富榜、消耗榜清晰直观<br/>
    玩家信息，一目了然</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img05.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont03" data-aos="fade-up-left">
                    <div class="youxi_text" id="youxi_text">
                        <h1>全新推广系统，多重返利机制助力运营</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line01.png" alt="">
                        </div>
                        <p>专属分享模式，用户裂变提速<br/>
    消耗充值返利，助力推广运营</p>
                    </div>
                    <div class="youxi_img02">
                        <img src="__TEMPLATE__/static/images/youxi_img06.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul>
                <li class="youxi_cont01 youxi_cont04" data-aos="fade-up">
                    <div class="youxi_text">
                        <h1>千度旗舰H5平台，无需下载客户端</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>微信启动，点击即玩<br/>
    聚焦市场推广，棋牌拉新利器</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img07.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont05" data-aos="fade-down">
                    <div class="youxi_text" id="youxi_text">
                        <h1>切入微信生态系统，推广便捷高效</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line01.png" alt="">
                        </div>
                        <p>不用离开微信即可直接进行游戏<br/>
    朋友圈、微信群分享点击即玩，裂变更多客户</p>
                    </div>
                    <div class="youxi_img02">
                        <img src="__TEMPLATE__/static/images/youxi_img08.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont05" data-aos="fade-up">
                    <div class="youxi_text">
                        <h1>功能全面的全新H5棋牌平台</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>旗舰APP版运营功能，H5版同样支持<br/>
    满足各种玩家不同游戏需求</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img09.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont05" data-aos="fade-down">
                    <div class="youxi_text" id="youxi_text">
                        <h1>千度旗舰H5平台，全新风格</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line01.png" alt="">
                        </div>
                        <p>UI交互、美术风格全新设计<br/>
    更符合玩家使用习惯，用户体验更佳</p>
                    </div>
                    <div class="youxi_img02">
                        <img src="__TEMPLATE__/static/images/youxi_img10.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <ul>
                <li class="youxi_cont01 youxi_cont06" data-aos="fade-right">
                    <div class="youxi_text">
                        <h1>完美支持Lua、H5、U3d数据互通</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>随时随地让不同客户端玩家同台竞技<br/>
    满足不同终端玩家游戏需求</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img11.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont05" data-aos="fade-left">
                    <div class="youxi_text" id="youxi_text">
                        <h1>千度旗舰U3D平台，颜值与实力并存</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line01.png" alt="">
                        </div>
                        <p>精致画面，特效酷炫升级<br/>
    全新Unity3D开发，引导棋牌开发技术潮流</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img12.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont03" data-aos="fade-up-right">
                    <div class="youxi_text">
                        <h1>平台动画特效适合多种游戏类型</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>街机游戏视觉效果更具冲击力<br/>
    休闲游戏3D效果仿佛身临其境</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img13.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont03" data-aos="fade-up-left">
                    <div class="youxi_text" id="youxi_text">
                        <h1>排行榜功能全新升级，玩家信息展示清晰</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line01.png" alt="">
                        </div>
                        <p>财富排行、充值排行双榜单<br/>
    上榜更可获得自定义配置奖励</p>
                    </div>
                    <div class="youxi_img02">
                        <img src="__TEMPLATE__/static/images/youxi_img14.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont03" data-aos="fade-down-right">
                    <div class="youxi_text">
                        <h1>消息推送针对性通知，唤醒更多沉默用户</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>不同类型玩家可推送不同内容通知<br/>
    定时定量，做精细化运营</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img15.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont03" data-aos="fade-down-left">
                    <div class="youxi_text" id="youxi_text">
                        <h1>全新后台管理，切合运营实际</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line01.png" alt="">
                        </div>
                        <p>后台统计重新排版，查验玩家实时数据<br/>
    玩家充值、时长、输赢等记录尽在掌握</p>
                    </div>
                    <div class="youxi_img02">
                        <img src="__TEMPLATE__/static/images/youxi_img16.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="youxi_cont01 youxi_cont03" data-aos="fade-down-right">
                    <div class="youxi_text">
                        <h1>高效推广，全新设计推广后台</h1>
                        <div class="youxi_line">
                            <img src="__TEMPLATE__/static/images/youxi_line.png" alt="">
                        </div>
                        <p>专属推广后台随时查看收益<br/>
    给予推广员对平台更多信心支持</p>
                    </div>
                    <div class="youxi_img03">
                        <img src="__TEMPLATE__/static/images/youxi_img17.jpg" alt="">
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">jQuery(".slideTxtBox").slide();</script>

<div class="fill_100"></div> 
{include file="public/footer" /}