{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner" style="background-image:url({$category['image_url']})">
	<img src="{$category['image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->
<!-- 号码类型 -->
<div class="page_block tel400_type">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>400电话号码类型</h3>
			<p>企业通信领域公认的创新领袖和服务商</p>
		</div>
		<ul>
			<li class="trans_0_2">
				<div class="tel400_type_icon"><p>ABAB类型</p></div>
				<div class="top_contaiiner trans_0_2">
					<p class="title">好号码,过目不忘，任您选</p>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
					</div>
				</div>
				<div class="bottom_contaiiner">
					<p class="tag">独享经济价</p>
					<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
				</div>
			</li>
			<li class="trans_0_2">
				<div class="tel400_type_icon"><p>ABAB类型</p></div>
				<div class="top_contaiiner trans_0_2">
					<p class="title">好号码,过目不忘，任您选</p>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
					</div>
				</div>
				<div class="bottom_contaiiner">
					<p class="tag">独享经济价</p>
					<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
				</div>
			</li>
			<li class="trans_0_2">
				<div class="tel400_type_icon"><p>ABAB类型</p></div>
				<div class="top_contaiiner trans_0_2">
					<p class="title">好号码,过目不忘，任您选</p>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
					</div>
				</div>
				<div class="bottom_contaiiner">
					<p class="tag">独享经济价</p>
					<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
				</div>
			</li>
			<li class="trans_0_2">
				<div class="tel400_type_icon"><p>ABAB类型</p></div>
				<div class="top_contaiiner trans_0_2">
					<p class="title">好号码,过目不忘，任您选</p>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
					</div>
				</div>
				<div class="bottom_contaiiner">
					<p class="tag">独享经济价</p>
					<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
				</div>
			</li>
			<li class="trans_0_2">
				<div class="tel400_type_icon"><p>ABAB类型</p></div>
				<div class="top_contaiiner trans_0_2">
					<p class="title">好号码,过目不忘，任您选</p>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
					</div>
				</div>
				<div class="bottom_contaiiner">
					<p class="tag">独享经济价</p>
					<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
				</div>
			</li>
			<li class="trans_0_2">
				<div class="tel400_type_icon"><p>ABAB类型</p></div>
				<div class="top_contaiiner trans_0_2">
					<p class="title">好号码,过目不忘，任您选</p>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span>
					</div>
				</div>
				<div class="bottom_contaiiner">
					<p class="tag">独享经济价</p>
					<p class="price_container">¥<span>1999</span>元/年起 <em>合约年限：3年</em></p>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">立即开号</a>
				</div>
			</li>

			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- 开通流程 -->
<div class="page_block tel400_step">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>开通流程</h3>
			<p>简单、快捷、方便、一步到位</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step1">
				<div class="icon_container"><span class="icon">Step1:选择号码与套餐</span></div>
				<p class="desc">提交企业相关审核证件</p>
			</li>
			<li class="step2">
				<div class="icon_container"><span class="icon">Step2:现场沟通签约</span></div>
				<p class="desc">定制通信服务，现场签约</p>
			</li>
			<li class="step3">
				<div class="icon_container"><span class="icon">Step3:资质审核</span></div>
				<p class="desc">运营商审核办理业务</p>
			</li>
			<li class="step4">
				<div class="icon_container"><span class="icon">Step4:号码开通</span></div>
				<p class="desc">验证通过后双方签订合同，号码开通</p>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- 为何选择 -->
<div class="page_block tel400_why">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>为何选择400电话</h3>
			<p>放心的平台、放心的服务、放心的价格</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step1 trans_0_2">
				<div class="top_contaiiner">
					<p class="icon"></p>
					<p class="title">市场NO.1</p>
					<p class="desc">用数字证明：办400，就上zzqiandu.com</p>
				</div>
				<div class="bottom_contaiiner">
					<p class="title">NO.1</p>
					<p class="desc">连续10年新增用户数、用户规模全国NO.1</p>
					<p class="title">20万</p>
					<p class="desc">为超过20万家中小企业提供服务</p>
					<p class="title">52位</p>
					<p class="desc">《福布斯》中国非上市潜力企业100强第52位</p>
				</div>
			</li>
			<li class="step2 trans_0_2">
				<div class="top_contaiiner">
					<p class="icon"></p>
					<p class="title">快速稳定</p>
					<p class="desc">运营级平台经20万用户检验，安全，可靠</p>
				</div>
				<div class="bottom_contaiiner">
					<p class="title">快30%</p>
					<p class="desc">自主研发专利技术使400来电接通速度快30%</p>
					<p class="title">运营率99.99%</p>
					<p class="desc">平台多重备份，无障碍运营率99.99%</p>
					<p class="title">数十项</p>
					<p class="desc">运营级400平台，获国家专利、著作权数十项</p>
				</div>
			</li>
			<li class="step3 trans_0_2">
				<div class="top_contaiiner">
					<p class="icon"></p>
					<p class="title">性价比高</p>
					<p class="desc">我们承诺：同样价格，号码更好，价值更高</p>
				</div>
				<div class="bottom_contaiiner">
					<p class="title">优质号码资源</p>
					<p class="desc">中国三大运营商官方授权服务商<br>汇聚行业优质号码资源</p>
					<p class="title">增值服务持续升级</p>
					<p class="desc">持续调研用户需求，不断更新平台应用<br>让用户获得更多服务体验</p>
				</div>
			</li>
			
			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- 热销套餐 -->
<div class="page_block tel400_package">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>热销套餐</h3>
			<p>放心的平台、放心的服务、放心的价格</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step1 trans_0_2">
				<div class="top_contaiiner">经济套餐</div>
				<div class="bottom_contaiiner">
					<div class="desc">开户好礼：<br>赠送<span>15</span>项基础功能，<span>1项</span>千度增值功能。<br><span>新用户</span>免单开户，更有限量话费好礼相送。</div>
					<div class="number_title">配送号码： <a target="_blank" href="{$settings['company_kefu_btn']}">更多</a></div>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
					</div>
					<div class="price_container">
						<span class="price">999元/年</span>
						<span class="heyue">合约年限：3年</span>
					</div>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">点击咨询套餐详情</a>
				</div>
			</li>
			<li class="step2 trans_0_2">
				<div class="top_contaiiner">靓号套餐</div>
				<div class="bottom_contaiiner">
					<div class="desc">开户好礼：<br>赠送<span>15</span>项基础功能，<span>1项</span>千度增值功能。<br><span>新用户</span>免单开户，更有限量话费好礼相送。</div>
					<div class="number_title">配送号码： <a target="_blank" href="{$settings['company_kefu_btn']}">更多</a></div>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
					</div>
					<div class="price_container">
						<span class="price">1999元/年</span>
						<span class="heyue">合约年限：3年</span>
					</div>
					<a class="btn trans_0_2" href="{$settings['company_kefu_btn']}">点击咨询套餐详情</a>
				</div>
			</li>
			<li class="step3 trans_0_2">
				<div class="top_contaiiner">超级套餐</div>
				<div class="bottom_contaiiner">
					<div class="desc">开户好礼：<br>赠送<span>15</span>项基础功能，<span>1项</span>千度增值功能。<br><span>新用户</span>免单开户，更有限量话费好礼相送。</div>
					<div class="number_title">配送号码： <a target="_blank" href="{$settings['company_kefu_btn']}">更多</a></div>
					<div class="number_container">
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
						<span>400-163-6868</span><span>400-163-6868</span><span>400-163-6868</span>
					</div>
					<div class="price_container">
						<span class="price">2999元/年</span>
						<span class="heyue">合约年限：3年</span>
					</div>
					<a class="btn trans_0_2" target="_blank" href="{$settings['company_kefu_btn']}">点击咨询套餐详情</a>
				</div>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
{include file="public/footer" /}