{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner" style="background-image:url({$category['image_url']})">
	<img src="{$category['image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->

<div class="page_block website_block" id="step1">
	<div class="container_1200">
		<div class="left">
			<img class="websete_pic" src="__TEMPLATE__/static/images/websete_pic1.jpg" alt="企业品牌型网站套餐">
			<div class="tips">
				<p class="p1"><em></em><span>金牌设计师原创</span></p>
				<p class="p2"><em></em><span>设计总监全程监督</span></p>
				<p class="p3"><em></em><span>网站配置一步到位</span></p>
				<p class="p4"><em></em><span>24小时售后服务</span></p>
			</div>
		</div>
		<div class="right">
			<h3 class="title"><span>企业品牌型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位普通企业网站</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，空间1GB</li>
				<li>• 页面长度三屏以内</li>
				<li>• 设计风格标准型</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
				<a target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="page_block website_block website_block2" id="step2">
	<div class="container_1200">
		<div class="left">
			<img class="websete_pic" src="__TEMPLATE__/static/images/websete_pic2.png" alt="产品营销型网站套餐">
			<div class="tips">
				<p class="p1"><em></em><span>金牌设计师原创</span></p>
				<p class="p2"><em></em><span>设计总监全程监督</span></p>
				<p class="p3"><em></em><span>网站配置一步到位</span></p>
				<p class="p4"><em></em><span>24小时售后服务</span></p>
			</div>
		</div>
		<div class="right">
			<h3 class="title"><span>产品营销型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位营销型品牌官网</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，空间5GB</li>
				<li>• 页面长度五屏以内</li>
				<li>• 设计风格品质型</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
				<a target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="page_block website_block" id="step3">
	<div class="container_1200">
		<div class="left">
			<img class="websete_pic" src="__TEMPLATE__/static/images/websete_pic3.jpg" alt="会员服务型网站套餐">
			<div class="tips">
				<p class="p1"><em></em><span>金牌设计师原创</span></p>
				<p class="p2"><em></em><span>设计总监全程监督</span></p>
				<p class="p3"><em></em><span>网站配置一步到位</span></p>
				<p class="p4"><em></em><span>24小时售后服务</span></p>
			</div>
		</div>
		<div class="right">
			<h3 class="title"><span>会员服务型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位会员服务型网</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，空间10GB</li>
				<li>• 页面长度七屏以内</li>
				<li>• 设计风格尊贵型</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
				<a target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="page_block website_block website_block4" id="step4">
	<div class="container_1200">
		<div class="left">
			<img class="websete_pic" src="__TEMPLATE__/static/images/websete_pic4.png" alt="电商运营型网站套餐">
			<div class="tips">
				<p class="p1"><em></em><span>金牌设计师原创</span></p>
				<p class="p2"><em></em><span>设计总监全程监督</span></p>
				<p class="p3"><em></em><span>网站配置一步到位</span></p>
				<p class="p4"><em></em><span>24小时售后服务</span></p>
			</div>
		</div>
		<div class="right">
			<h3 class="title"><span>电商运营型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位电商运营网站</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，独立服务器</li>
				<li>• 页面长度不限</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
				<a target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="page_block website_block" id="step5">
	<div class="container_1200">
		<div class="left">
			<img class="websete_pic" src="__TEMPLATE__/static/images/websete_pic5.jpg" alt="定制开发型网站套餐">
			<div class="tips">
				<p class="p1"><em></em><span>金牌设计师原创</span></p>
				<p class="p2"><em></em><span>设计总监全程监督</span></p>
				<p class="p3"><em></em><span>网站配置一步到位</span></p>
				<p class="p4"><em></em><span>24小时售后服务</span></p>
			</div>
		</div>
		<div class="right">
			<h3 class="title"><span>定制开发型</span>网站套餐</h3>
			<ul>
				<li>• 网站定位定制开网站</li>
				<li>• 定制风格(电脑端、手机端、微信端)</li>
				<li>• 国际域名一个，独立服务器</li>
				<li>• 页面长度不限</li>
				<li>• 工信部免费备案</li>
				<li>• 微信公众号接入</li>
				<li>• 终身免费维护（二次开发另算）</li>
				<a target="_blank" href="{$settings['company_kefu_btn']}">立即咨询</a>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- 流程 -->
<div class="page_block website_step">
	<div class="container_1200">
		<div class="page_block_title page_block_title_white">
			<h3>服务流程</h3>
			<p>我们拥有完整的服务流程，让每一位客户都可以享受到完美的用户体验</p>
		</div>
		<div class="fill_30"></div>
		<ul class="step_container">
			<li class="step1" aos="fade-left"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">确认需求</p>
				<div class="person"><span class="text">客户经理</span><span class="num">1</span></div>
			</div></li>
			<li class="step2" aos="fade-left" aos-delay="50"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">签订合同</p>
				<div class="person"><span class="text">客户经理</span><span class="num">2</span></div>
			</div></li>
			<li class="step3" aos="fade-left" aos-delay="100"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">项目启动</p>
				<div class="person"><span class="text">项目经理</span><span class="num">3</span></div>
			</div></li>
			<li class="step4" aos="fade-left" aos-delay="150"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">产品原型</p>
				<div class="person"><span class="text">产品经理</span><span class="num">4</span></div>
			</div></li>
			<li class="step5" aos="fade-left" aos-delay="200"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">视觉设计</p>
				<div class="person"><span class="text">UI设计师</span><span class="num">5</span></div>
			</div></li>
			<li class="step6" aos="fade-left" aos-delay="250"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">开发</p>
				<div class="person"><span class="text">技术工程师</span><span class="num">6</span></div>
			</div></li>
			<li class="step7" aos="fade-left" aos-delay="300"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">测试</p>
				<div class="person"><span class="text">测试工程师</span><span class="num">7</span></div>
			</div></li>
			<li class="step8" aos="fade-left" aos-delay="350"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">上线</p>
				<div class="person"><span class="text">技术工程师</span><span class="num">8</span></div>
			</div></li>
			<li class="step9" aos="fade-left" aos-delay="400"><div class="website_step_li_container">
				<div class="icon_container"><span></span></div>
				<p class="title">售后</p>
				<div class="person"><span class="text">售后客服</span><span class="num">9</span></div>
			</div></li>
			<div class="clear"></div>
		</ul>
	</div>
	<div class="fill_30"></div>
</div>
<!-- 保障 -->
<div class="page_block website_baozhang">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>网站售后服务保障</h3>
			<p>8大环节,60多道节点,严控软件质量度,只为客户移动运营走好关键的第一步</p>
		</div>
		<div class="fill_30"></div>
		<ul class="website_baozhang_container">
			<li class="step1">
				<div class="icon_container"><p></p></div>
				<div class="title">数据备份保障</div>
				<div class="desc">所有网络设备采用双点备份，避免单点故障确保在系统信息发生问题时可以快速恢复系统正常</div>
			</li>
			<li class="step2">
				<div class="icon_container"><p></p></div>
				<div class="title">网络安全保障</div>
				<div class="desc">采用先进的防火墙、负载均衡，防止DDOS攻击；IDS设备定期安全扫描及时发现漏洞，实时安全分析</div>
			</li>
			<li class="step3">
				<div class="icon_container"><p></p></div>
				<div class="title">网络连通性保障</div>
				<div class="desc">所有网络设备采用双点备份，避免单点故障，确保在系统信息发生问题时可以快速恢复系统正常</div>
			</li>
			<li class="step4">
				<div class="icon_container"><p></p></div>
				<div class="title">客户服务保障</div>
				<div class="desc">标准服务等级协议(SLA)，7天×24小时客服热线，及时为您排忧解难让您的网络营销平台高枕无忧</div>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>

{include file="public/footer" /}