{include file="public/header" /}
<!-- BANNER开始 -->
<div class="second_banner" style="background-image:url({$category['image_url']})">
	<img src="{$category['image_url']}" alt="{$category['name']}">
</div>
<!-- BANNER结束 -->
<!-- 系统 -->
<div class="page_block weixin_xitong">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>微信公众号系统</h3>
			<p>打通微信公众平台，一键式操作更简单</p>
		</div>
		<div class="fill_30"></div>
		<div class="fl xitong_block weixin_dingzhi">
			<div class="title">
				<h4>定制开发</h4>
				<h5>Custom development</h5>
			</div>
			<ul>
				<li class="step1">
					<span class="icon"></span>
					<div class="type_title">提供开发源码</div>
					<div class="type_name"><span>完全操纵后期的开发与技术权</span></div>
					<a target="_blank" href="{$settings['company_kefu_btn']}" class="btn">立即咨询</a>
				</li>
				<li class="step2">
					<span class="icon"></span>
					<div class="type_title">支持个性化定制</div>
					<div class="type_name"><span>全面满足您的开发定制需求</span></div>
					<a target="_blank" href="{$settings['company_kefu_btn']}" class="btn">立即咨询</a>
				</li>
				<li class="step3">
					<span class="icon"></span>
					<div class="type_title">节省维护成本</div>
					<div class="type_name"><span>后期终身维护，免您后顾之忧</span></div>
					<a target="_blank" href="{$settings['company_kefu_btn']}" class="btn">立即咨询</a>
				</li>
				<li class="step4">
					<span class="icon"></span>
					<div class="type_title">保持持续更新</div>
					<div class="type_name"><span>产品持续更新，升级永无止境</span></div>
					<a target="_blank" href="{$settings['company_kefu_btn']}" class="btn">立即咨询</a>
				</li>
			</ul>
		</div>
		<div class="fr xitong_block weixin_dajian">
			<div class="title">
				<h4>系统搭建</h4>
				<h5>System construction</h5>
			</div>
			<ul>
				<li class="step1">
					<span class="icon"></span>
					<div class="type_title">展示型</div>
					<div class="type_name"><span>微官网</span><span>微场景</span><span>微信喜帖</span><span>微政府</span><span>微名片</span><span> 微预约</span><span>360全景展示</span></div>
					<a target="_blank" href="{$settings['company_kefu_btn']}" class="btn">立即咨询</a>
				</li>
				<li class="step2">
					<span class="icon"></span>
					<div class="type_title">推广型</div>
					<div class="type_name"><span>微渠道</span><span>微贺卡</span><span>优惠券</span><span>微信请柬</span><span>超级秒杀</span><span>全民经纪人</span><span>微信红包</span><span>微信签到</span></div>
					<a target="_blank" href="{$settings['company_kefu_btn']}" class="btn">立即咨询</a>
				</li>
				<li class="step3">
					<span class="icon"></span>
					<div class="type_title">互动型</div>
					<div class="type_name"><span>微现场</span><span>微投票</span><span>上头条</span><span>微游戏</span><span>摇一摇</span><span>微社区</span><span>惩罚台</span></div>
					<a target="_blank" href="{$settings['company_kefu_btn']}" class="btn">立即咨询</a>
				</li>
				<li class="step4">
					<span class="icon"></span>
					<div class="type_title">成交型</div>
					<div class="type_name"><span>微商城</span><span>微外卖</span><span>微团购</span><span>微小店</span><span>微餐饮</span><span>微信支付</span></div>
					<a target="_blank" href="{$settings['company_kefu_btn']}" class="btn">立即咨询</a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="fill_20"></div>
</div>
<!-- 产品功能 -->
<div class="page_block weixin_product">
	<div class="weixin_product_bg"></div>
	<div class="container_1200">
		<div class="page_block_title page_block_title_white">
			<h3>六大产品功能</h3>
			<p>微信强大的覆盖率，多功能的端口</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li>
				<img src="__TEMPLATE__/static/images/weixin_product1.jpg" alt="微信商城">
				<div class="mask">
					<p class="title">微信商城</p>
					<p class="desc">企业在微信公众平台搭建在线销售的商城店铺，实现真正的移动电商；让移动端手机快捷地接触品牌产品，无需登录，仅填写地址，及时支付。</p>
				</div>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/weixin_product2.jpg" alt="微官网">
				<div class="mask">
					<p class="title">微官网</p>
					<p class="desc">微官网是企业实力、企业品牌形象的象征，在激烈的行业竞争中，企业只有保持创新、不断创造才能立于不败之地。</p>
				</div>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/weixin_product3.jpg" alt="微信营销">
				<div class="mask">
					<p class="title">微信营销</p>
					<p class="desc">为顾客提供多微营销功能开发服务，包括摇一摇、抽奖、红包、大转盘，投票活动、砸金蛋等多种营销工具。</p>
				</div>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/weixin_product4.jpg" alt="行业应用">
				<div class="mask">
					<p class="title">行业应用</p>
					<p class="desc">针对不同的行业，开发出不同功能，包括：微外卖、微餐饮、微汽车、微美容、酒店预约、微房产等等，满足30多个行业的需求。</p>
				</div>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/weixin_product5.jpg" alt="微会员">
				<div class="mask">
					<p class="title">微会员</p>
					<p class="desc">粉丝成为微信会员，对于顾客可以获得会员特权，对商家可以收集顾客信息进行客户管理，增加粉丝的忠诚度。</p>
				</div>
			</li>
			<li>
				<img src="__TEMPLATE__/static/images/weixin_product6.jpg" alt="微信支付">
				<div class="mask">
					<p class="title">微信支付</p>
					<p class="desc">微信支付功能开发，实现多种方式微信支付，为客户提供了便捷的支付方式，更好的为企业商家促进销售。</p>
				</div>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- 辅导计划 -->
<div class="page_block weixin_plan">
	<div class="weixin_product_bg"></div>
	<div class="container_1200">
		<div class="page_block_title">
			<h3>微信公众号客户辅导计划</h3>
			<p>微信平台众多的特色服务 ，只为成就您想做的一切</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step1">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">代申请<br>微信公众号</p>
			</li>
			<li>
				<p class="jia">+</p>
			</li>
			<li class="step2">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">代申请<br>微信认证</p>
			</li>
			<li>
				<p class="jia">+</p>
			</li>
			<li class="step3">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">代申请<br>微信小程序</p>
			</li>
			<li>
				<p class="jia">+</p>
			</li>
			<li class="step4">
				<div class="icon_container"><span class="icon"></span></div>
				<p class="title">代申请<br>微信支付</p>
			</li>
			<div class="clear"></div>
		</ul>
		<img class="weixin_plan_line" src="__TEMPLATE__/static/images/weixin_plan_line.png" alt="微信公众号客户辅导计划">
		<p class="fee">服务费用：￥600不包括微信认证的费用￥300</p>
		<a target="_blank" href="{$settings['company_kefu_btn']}" class="apply_now trans_0_1">立即申请</a>
	</div>
</div>
<!-- 优势 -->
<div class="page_block weixin_youshi">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>我们的竞争优势</h3>
			<p>依托微信群众传播优势，快速扩展品牌知名度，打造最符合企业自身的微信营销方式</p>
		</div>
		<ul>
			<li class="step1">
				<div class="icon"></div>
				<p class="title">外观设计</p>
				<p class="desc">精美外观设计震撼<br>您的视觉</p>
			</li>
			<li class="step2">
				<div class="icon"></div>
				<p class="title">技术支持</p>
				<p class="desc">百人技术团队定制您的<br>专属需求</p>
			</li>
			<li class="step3">
				<div class="icon"></div>
				<p class="title">功能丰富</p>
				<p class="desc">功能精细化适应<br>不同行业</p>
			</li>
			<li class="step4">
				<div class="icon"></div>
				<p class="title">优质服务</p>
				<p class="desc">一对一式服务私有化策略<br>方案部署</p>
			</li>
			<li class="step5">
				<div class="icon"></div>
				<p class="title">资金安全</p>
				<p class="desc">交易时资金安全有保障</p>
			</li>
			<li class="step6">
				<div class="icon"></div>
				<p class="title">标准验收</p>
				<p class="desc">按合同要求，高标准验收</p>
			</li>
			<li class="step7">
				<div class="icon"></div>
				<p class="title">法律保障</p>
				<p class="desc">交易时签署法律合同</p>
			</li>
			<li class="step8">
				<div class="icon"></div>
				<p class="title">多家全资公司</p>
				<p class="desc">设有京浙蜀粤多家公司</p>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- 流程 -->
<div class="page_block weixin_step">
	<div class="container_1200">
		<div class="page_block_title page_block_title_white">
			<h3>我们的服务流程</h3>
			<p>微信开发龙头企业，做到别人做不到的功能</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step step1" aos="fade-left">
				<div class="icon"></div>
			</li>
			<li class="line line1" aos="fade-left" aos-delay="50">
				<div class="icon"></div>
			</li>
			<li class="step step2" aos="fade-left" aos-delay="100">
				<div class="icon"></div>
			</li>
			<li class="line line2" aos="fade-left" aos-delay="150">
				<div class="icon"></div>
			</li>
			<li class="step step3" aos="fade-left" aos-delay="200">
				<div class="icon"></div>
			</li>
			<li class="line line3" aos="fade-left" aos-delay="250">
				<div class="icon"></div>
			</li>
			<li class="step step4" aos="fade-left" aos-delay="300">
				<div class="icon"></div>
			</li>
			<li class="line line4" aos="fade-left" aos-delay="350">
				<div class="icon"></div>
			</li>
			<li class="step step5" aos="fade-left" aos-delay="400">
				<div class="icon"></div>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<!-- 为什么选择我们 -->
<div class="page_block weixin_why">
	<div class="container_1200">
		<div class="page_block_title">
			<h3>为什么选择我们</h3>
			<p>10大解决方案 直击行业痛点</p>
		</div>
		<div class="fill_30"></div>
		<ul>
			<li class="step1 fl" aos="fade-right">
				<p class="desc">我们团队战略合作的公司超过数百家，其中知名企业不下数十，我们的信誉度在业界达到最知名，功能完善质量保障，具有良好的企业形象</p>
				<p class="no">1</p>
				<div class="icon_container"><p class="title">品质保障</p><span class="icon"></span></div>
			</li>
			<li class="step2 fr" aos="fade-left">
				<p class="desc">诚信服务多年，服务过500多家公司，精通各类目网站、APP、公众号、小程序等网站的开发与制作，拥有较多的战略合作经验</p>
				<p class="no">2</p>
				<div class="icon_container"><p class="title">专业服务</p><span class="icon"></span></div>
			</li>
			<li class="step3 fl" aos="fade-right">
				<p class="desc">做单严谨，对接规范，减少客户负担，节省时间成本，每接待一位客户都严格按照章程办事，为每位客户留下良好印象，让顾客满意度提升</p>
				<p class="no">4</p>
				<div class="icon_container"><p class="title">流程完善</p><span class="icon"></span></div>
			</li>
			<li class="step4 fr" aos="fade-left">
				<p class="desc">我们拥有实力强大的团队，成员之间配合默契，我们速度和质量并存，我们拥有高质量的工作效率</p>
				<p class="no">3</p>
				<div class="icon_container"><p class="title">实力强大</p><span class="icon"></span></div>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>

{include file="public/footer" /}