{include file="public/header" /}
<!-- BANNER开始 -->
<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {lz:focus type="1"}
            {volist name="data" id="value"}
            <div class="swiper-slide"><a href="{$value['url']}"  data-background="{$value['image_url']}" class="swiper-lazy" style="background-size: cover"></a></div>
            {/volist}
            {/lz:focus}

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <script>
        var swiper = new Swiper('.swiper-container', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable :true,
            },
            autoplay:true,
            loop : true,
            effect : 'fade',
            lazy: {
                loadPrevNext: false,
            },
        });
    </script>

    <script type="text/javascript">
        $('.event-list a').hover(function(){
            $(this).addClass('event-in');
        },function(){
            $(this).removeClass('event-in');
        });
    </script>

</div>
<!-- BANNER结束 -->

<div class="video_cate">
    <div class="container_1200" style="border-bottom: 1px solid #eee;">
        <ul class="nav">
            <li class="<?php if(!$category){ echo 'on';} ?>"><a href="/">首页</a></li>
            {volist name="categorys[0][0]" id="vo"}
            {if condition="$categorys[$vo]['is_menu'] == 1"}
            <li class="<?php if($vo==$top_category['id']){ echo 'on';} ?>">
                <a href="{$categorys[$vo]['url']}">{$categorys[$vo]['name']}</a>
                {notempty name="categorys[0][$vo]"}
                <div class="fill"></div>
                <div class="child_nav"><!-- 二级菜单 -->
                    {volist name="categorys[0][$vo]" id="v"}
                    {if condition="$categorys[$v]['is_menu'] == 1"}
                    <a class="<?php if($v==$category['id']){ echo 'on';} ?>" href="{$categorys[$v]['url']}">{$categorys[$v]['name']}</a><br>
                    {/if}
                    {/volist}
                </div>
                {/notempty}
            </li>
            {/if}
            {/volist}
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div class="video_list_page">
    <div class="container_1200">
        <div class="fill_50"></div>
        <ul class="ajax_lists_container video_list_container">
        </ul>
        <div class="fill_50"></div>
        <div class="list_more"><span>加载更多</span></div>
        <div class="fill_50"></div>
    </div>
</div>
<?php $category_id =  input('param.category_id'); ?>
<script type="text/javascript">
    var page = 0;
    function get_ajax_lists() {
        page ++;
        var param = {
            category_id : "{$category_id}",
            sort : "create_time",
            limit : 30,
            page : page,
            thumb: '260,360,3'
        };
        $.get('{:url("get_ajax_lists")}',param,function(ret){
            if(ret && ret.length > 0){
                var html = '';
                $.each(ret,function(i,item){
                    html += '<li class="trans_0_1"><a href="'+ item.url +'">'
                        +		'<div class="pic"><img src="'+ item.thumb +'" alt="'+ item.title +'"></div>'
                        +		'<div class="text trans_0_1">'
                        +			'<h4 class="text_ellipsis trans_0_1">'+ item.title +'</h4>'
                        +			'<p class="desc trans_0_1 text_ellipsis">'+ item.description +'</p>'
                        +		'</div>'
                        +	'</a></li>'
                });
                html += '<div class="clear"></div>';
                $('.ajax_lists_container').append(html);
                $('.list_more').find('span').removeClass('loading').text('加载更多');
            }else{
                $('.list_more').find('span').removeClass('loading').text('没有更多了');
            }
        })
    }

    $(this).find('span').addClass('loading').text('加载中...');
    get_ajax_lists();

    $('.list_more').click(function(){
        $(this).find('span').addClass('loading').text('加载中...');
        get_ajax_lists();
    });

</script>
{include file="public/footer" /}